<table Name="sSchemaFileTableRelatedTable" formcolumns="1" gridcolumns=""
       DataKeyField="RelatedTableID" SortOrder=""
       PageSize="50" GridHeight="200" ViewMode="ByRow" SaveMode="ByPage" AutoSizeInReadMode="true"
       AllowColumnReordering="false" AllowGrouping="false" ShowGroupFooter="false"
       AllowSorting="false" AllowMultiColumnSorting="false" FrozenColumnCount="0"
       AllowKeyboardSupport="true" AllowPaging="false" AllowFiltering="false"
       AllowScrolling="false" AllowRowDraggingReadMode="false" AllowRowDraggingEditMode="false" 
       AllowRowSelect="true" AllowMultiRowSelect="true" 
       AddCheckboxRowSelectColumnReadMode="false" AddCheckboxRowSelectColumnEditMode="true" 
       FormSQL="SELECT * FROM sSchemaFileTableRelatedTable"
       GridReadSQL="SELECT * FROM sSchemaFileTableRelatedTable"
       GridSQL="SELECT * FROM sSchemaFileTableRelatedTable">
  <column Name="RelatedTableID" PK="true" alias="RelatedTable ID" Type="label" datatype="string" select="true" enabled="true" Visible="false" cellwidth="300px"
          GridVisible="false" GridWidth="300" GridOrder="001" GridSearch="false" column="1" order="001">
    <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
  </column>
  <column Name="FileID" PK="false" alias="File ID" Type="label" datatype="string" select="true" enabled="true" Visible="false" cellwidth="300px"
          GridVisible="false" GridWidth="300" GridOrder="002" GridSearch="false" column="1" order="002">
    <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
  </column>
  <column Name="TableID" PK="false" alias="Table ID" Type="label" datatype="string" select="true" enabled="true" Visible="false" cellwidth="300px"
          GridVisible="false" GridWidth="300" GridOrder="003" GridSearch="false" column="1" order="003">
    <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
  </column>
  <column Name="XMLFileName" PK="false" alias="XMLFileName" Type="textbox" datatype="string" select="true" enabled="true" Visible="true" cellwidth="400px"
          GridVisible="true" GridWidth="400" GridOrder="004" GridSearch="false" column="1" order="004">
    <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
  </column>
  <column Name="ParentIDField" PK="false" alias="Parent ID Field" Type="textbox" datatype="string" select="true" enabled="true" Visible="true" cellwidth="200px"
          GridVisible="true" GridWidth="200" GridOrder="005" GridSearch="false" column="1" order="005">
    <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
  </column>
  <column Name="ChildIDField" PK="false" alias="Child ID Field" Type="textbox" datatype="string" select="true" enabled="true" Visible="true" cellwidth="200px"
          GridVisible="true" GridWidth="200" GridOrder="006" GridSearch="false" column="1" order="006">
    <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
  </column>
</table>
