<table Name="sSchemaFileTableColumnLookupTable" formcolumns="1" gridcolumns="" 
       FormSQL="SELECT * FROM sSchemaFileTableColumnLookupTable" 
       GridReadSQL="SELECT * FROM sSchemaFileTableColumnLookupTable" 
       GridSQL="SELECT * FROM sSchemaFileTableColumnLookupTable">
  <column Name="LookupTableID" PK="true" alias="LookupTableID" Type="label" datatype="string" select="true" enabled="false" Visible="false" cellwidth="300px"
          GridVisible="true" GridWidth="300" GridOrder="001" GridSearch="false" column="1" order="001">
    <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
  </column>
  <column Name="XMLFileName" PK="false" alias="XMLFileName" Type="textbox" datatype="string" select="true" enabled="true" Visible="true" cellwidth="300px" 
          GridVisible="true" GridWidth="300" GridOrder="002" GridSearch="false" column="1" order="002">
        <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
    </column>
  <column Name="ParentIDField" PK="false" alias="Parent ID Field" Type="textbox" datatype="string" select="true" enabled="true" Visible="true" cellwidth="300px" 
          GridVisible="true" GridWidth="300" GridOrder="003" GridSearch="false" column="1" order="003">
    <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
  </column>
  <column Name="ChildIDField" PK="false" alias="Child ID Field" Type="textbox" datatype="string" select="true" enabled="true" Visible="true" cellwidth="300px"
          GridVisible="true" GridWidth="300" GridOrder="004" GridSearch="false" column="1" order="004">
    <Validator Class="" Type="" Minimum="" Maximum="" Text="" />
  </column>
</table>
