<Table Name="pSampleRequestMaterial" formcolumns="3" gridcolumns="" 
       FormSQL="SELECT * FROM pSampleRequestMaterial" 
       GridReadSQL="SELECT * FROM pSampleRequestMaterial" 
       GridSQL="SELECT * FROM pSampleRequestMaterial"
       ApiSQL="SELECT * FROM pSampleRequestMaterial" ApiWhereClause="" ApiOrderBy="">
</Table>
