<Table Name="pSampleRequestSpecItem" formcolumns="3" gridcolumns="" 
       FormSQL="SELECT * FROM pSampleRequestSpecItem" 
       GridReadSQL="SELECT * FROM pSampleRequestSpecItem" 
       GridSQL="SELECT * FROM pSampleRequestSpecItem"
       ApiSQL="SELECT * FROM pSampleRequestSpecItem" ApiWhereClause="" ApiOrderBy="">
  <column Name="SampleRequestSpecID" PK="true" alias="SampleRequestSpecID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="1" column="1" order="1"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="001" ApiRequired="true" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="SampleRequestSpecSizeID" PK="false" alias="SampleRequestSpecSizeID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="2" column="1" order="2"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="002" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="SampleRequestTradeID" PK="false" alias="SampleRequestTradeID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="3" column="1" order="3"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="003" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="SampleRequestWorkflowID" PK="false" alias="SampleRequestWorkflowID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="4" column="1" order="4"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="004" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="SampleWorkflowID" PK="false" alias="SampleWorkflowID" Type="textbox" datatype="string" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="5" column="1" order="5"
          ApiDataType="string" ApiVisible="true" ApiOrder="005" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="TradePartnerVendorID" PK="false" alias="TradePartnerVendorID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="6" column="1" order="6"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="006" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="WorkflowID" PK="false" alias="WorkflowID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="7" column="1" order="7"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="007" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="SpecMasterID" PK="false" alias="SpecMasterID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="8" column="1" order="8"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="008" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="POMTempItemID" PK="false" alias="POMTempItemID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="9" column="1" order="9"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="009" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="POMLibraryID" PK="false" alias="POMLibraryID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="10" column="1" order="10"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="010" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="ModelSpecID" PK="false" alias="ModelSpecID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="11" column="1" order="11"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="011" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="ModelID" PK="false" alias="ModelID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="12" column="1" order="12"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="012" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="POMTempID" PK="false" alias="POMTempID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="13" column="1" order="13"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="013" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="StyleID" PK="false" alias="StyleID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="14" column="1" order="14"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="014" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="StyleColorID" PK="false" alias="StyleColorID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="15" column="1" order="15"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="015" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Submit" PK="false" alias="Submit" Type="textbox" datatype="int" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="16" column="1" order="16"
          ApiDataType="int" ApiVisible="true" ApiOrder="016" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Critical" PK="false" alias="Critical" Type="textbox" datatype="int" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="17" column="1" order="17"
          ApiDataType="int" ApiVisible="true" ApiOrder="017" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="SpecID" PK="false" alias="SpecID" Type="textbox" datatype="uniqueidentifier" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="18" column="1" order="18"
          ApiDataType="uniqueidentifier" ApiVisible="true" ApiOrder="018" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="StyleSet" PK="false" alias="StyleSet" Type="textbox" datatype="int" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="19" column="1" order="19"
          ApiDataType="int" ApiVisible="true" ApiOrder="019" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="POM" PK="false" alias="POM" Type="textbox" datatype="string" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="20" column="1" order="20"
          ApiDataType="string" ApiVisible="true" ApiOrder="020" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="PointMeasur" PK="false" alias="PointMeasur" Type="textbox" datatype="string" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="21" column="1" order="21"
          ApiDataType="string" ApiVisible="true" ApiOrder="021" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="TOL" PK="false" alias="TOL" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="22" column="1" order="22"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="022" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="TOLN" PK="false" alias="TOLN" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="23" column="1" order="23"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="023" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Ask" PK="false" alias="Ask" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="24" column="1" order="24"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="024" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Spec" PK="false" alias="Spec" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="25" column="1" order="25"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="025" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Vendor" PK="false" alias="Vendor" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="26" column="1" order="26"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="026" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Var" PK="false" alias="Var" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="27" column="1" order="27"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="027" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Rev" PK="false" alias="Rev" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="28" column="1" order="28"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="028" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Final" PK="false" alias="Final" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="29" column="1" order="29"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="029" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto0" PK="false" alias="Proto0" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="30" column="1" order="30"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="030" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto1" PK="false" alias="Proto1" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="31" column="1" order="31"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="031" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto2" PK="false" alias="Proto2" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="32" column="1" order="32"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="032" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto3" PK="false" alias="Proto3" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="33" column="1" order="33"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="033" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto4" PK="false" alias="Proto4" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="34" column="1" order="34"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="034" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto5" PK="false" alias="Proto5" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="35" column="1" order="35"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="035" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto6" PK="false" alias="Proto6" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="36" column="1" order="36"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="036" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto7" PK="false" alias="Proto7" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="37" column="1" order="37"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="037" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto8" PK="false" alias="Proto8" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="38" column="1" order="38"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="038" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto9" PK="false" alias="Proto9" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="39" column="1" order="39"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="039" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto10" PK="false" alias="Proto10" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="40" column="1" order="40"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="040" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto11" PK="false" alias="Proto11" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="41" column="1" order="41"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="041" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto12" PK="false" alias="Proto12" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="42" column="1" order="42"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="042" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto13" PK="false" alias="Proto13" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="43" column="1" order="43"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="043" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto14" PK="false" alias="Proto14" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="44" column="1" order="44"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="044" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto15" PK="false" alias="Proto15" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="45" column="1" order="45"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="045" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto16" PK="false" alias="Proto16" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="46" column="1" order="46"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="046" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto17" PK="false" alias="Proto17" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="47" column="1" order="47"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="047" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto18" PK="false" alias="Proto18" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="48" column="1" order="48"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="048" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Proto19" PK="false" alias="Proto19" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="49" column="1" order="49"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="049" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade0" PK="false" alias="Grade0" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="50" column="1" order="50"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="050" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade1" PK="false" alias="Grade1" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="51" column="1" order="51"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="051" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade2" PK="false" alias="Grade2" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="52" column="1" order="52"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="052" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade3" PK="false" alias="Grade3" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="53" column="1" order="53"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="053" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade4" PK="false" alias="Grade4" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="54" column="1" order="54"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="054" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade5" PK="false" alias="Grade5" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="55" column="1" order="55"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="055" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade6" PK="false" alias="Grade6" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="56" column="1" order="56"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="056" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade7" PK="false" alias="Grade7" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="57" column="1" order="57"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="057" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade8" PK="false" alias="Grade8" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="58" column="1" order="58"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="058" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade9" PK="false" alias="Grade9" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="59" column="1" order="59"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="059" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade10" PK="false" alias="Grade10" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="60" column="1" order="60"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="060" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade11" PK="false" alias="Grade11" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="61" column="1" order="61"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="061" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade12" PK="false" alias="Grade12" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="62" column="1" order="62"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="062" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade13" PK="false" alias="Grade13" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="63" column="1" order="63"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="063" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade14" PK="false" alias="Grade14" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="64" column="1" order="64"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="064" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade15" PK="false" alias="Grade15" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="65" column="1" order="65"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="065" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade16" PK="false" alias="Grade16" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="66" column="1" order="66"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="066" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade17" PK="false" alias="Grade17" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="67" column="1" order="67"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="067" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade18" PK="false" alias="Grade18" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="68" column="1" order="68"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="068" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Grade19" PK="false" alias="Grade19" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="69" column="1" order="69"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="069" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size0" PK="false" alias="Size0" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="70" column="1" order="70"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="070" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size1" PK="false" alias="Size1" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="71" column="1" order="71"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="071" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size2" PK="false" alias="Size2" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="72" column="1" order="72"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="072" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size3" PK="false" alias="Size3" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="73" column="1" order="73"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="073" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size4" PK="false" alias="Size4" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="74" column="1" order="74"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="074" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size5" PK="false" alias="Size5" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="75" column="1" order="75"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="075" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size6" PK="false" alias="Size6" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="76" column="1" order="76"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="076" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size7" PK="false" alias="Size7" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="77" column="1" order="77"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="077" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size8" PK="false" alias="Size8" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="78" column="1" order="78"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="078" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size9" PK="false" alias="Size9" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="79" column="1" order="79"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="079" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size10" PK="false" alias="Size10" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="80" column="1" order="80"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="080" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size11" PK="false" alias="Size11" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="81" column="1" order="81"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="081" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size12" PK="false" alias="Size12" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="82" column="1" order="82"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="082" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size13" PK="false" alias="Size13" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="83" column="1" order="83"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="083" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size14" PK="false" alias="Size14" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="84" column="1" order="84"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="084" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size15" PK="false" alias="Size15" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="85" column="1" order="85"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="085" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size16" PK="false" alias="Size16" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="86" column="1" order="86"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="086" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size17" PK="false" alias="Size17" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="87" column="1" order="87"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="087" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size18" PK="false" alias="Size18" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="88" column="1" order="88"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="088" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Size19" PK="false" alias="Size19" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="89" column="1" order="89"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="089" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="CDate" PK="false" alias="CDate" Type="textbox" datatype="datetime" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="90" column="1" order="90"
          ApiDataType="datetime" ApiVisible="true" ApiOrder="090" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="CUser" PK="false" alias="CUser" Type="textbox" datatype="string" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="91" column="1" order="91"
          ApiDataType="string" ApiVisible="true" ApiOrder="091" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="MDate" PK="false" alias="MDate" Type="textbox" datatype="datetime" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="92" column="1" order="92"
          ApiDataType="datetime" ApiVisible="true" ApiOrder="092" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="MUser" PK="false" alias="MUser" Type="textbox" datatype="string" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="93" column="1" order="93"
          ApiDataType="string" ApiVisible="true" ApiOrder="093" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Change" PK="false" alias="Change" Type="textbox" datatype="int" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="94" column="1" order="94"
          ApiDataType="int" ApiVisible="true" ApiOrder="094" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Sort" PK="false" alias="Sort" Type="textbox" datatype="string" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="95" column="1" order="95"
          ApiDataType="string" ApiVisible="true" ApiOrder="095" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="HowToMeasurText" PK="false" alias="HowToMeasurText" Type="textbox" datatype="string" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="96" column="1" order="96"
          ApiDataType="string" ApiVisible="true" ApiOrder="096" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="HowToMeasurImage" PK="false" alias="HowToMeasurImage" Type="textbox" datatype="string" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="97" column="1" order="97"
          ApiDataType="string" ApiVisible="true" ApiOrder="097" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
  <column Name="Sample" PK="false" alias="Sample" Type="textbox" datatype="numeric" enabled="true" visible="true" cellwidth="150px" GridVisible="true" GridWidth="120" GridOrder="98" column="1" order="98"
          ApiDataType="numeric" ApiVisible="true" ApiOrder="098" ApiRequired="false" ApiSearch="false" ApiSearchRequired="false" ApiSearchType="ALL">
  </column>
</Table>
