<Table Name="pSampleRequestMaterialBOM" formcolumns="3" gridcolumns="" 
       FormSQL="SELECT * FROM pSampleRequestMaterialBOM" 
       GridReadSQL="SELECT * FROM pSampleRequestMaterialBOM" 
       GridSQL="SELECT * FROM pSampleRequestMaterialBOM"
       ApiSQL="SELECT * FROM pSampleRequestMaterialBOM" ApiWhereClause="" ApiOrderBy="">
</Table>
