<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="ReceiverServiceId" value="1"/>
    <add key="ReceiverQueueEndpoint" value="yplm.srv.bus.receiver@localhost"/>
    <add key="PluginFolderPath" value="$pluginPath$"/>
    <add key="PluginGlobalNamespace" value="Yunique.Service.Plugins"/>
    <add key="RetryLimit" value="3"/>
    <add key="RetryIntervalFactor" value="5.0"/>
    <add key="RemoveAllQueues" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="$plmOnDBConnectionString$"/>
  </connectionStrings>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Log\YuniqueServiceBusLog.txt"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
    </appender>
  
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>
