/* Default CSS Stylesheet for a new Web Application project */
#fixed_icons {
	background: transparent;
	width: 48px;
	position: fixed;
	bottom: 2%;
	right: 2%;
	z-index: 3;
}
	
#fixed_icons a {
	display: block;
	text-indent: 24px;
	height: 48px;
	padding-bottom: 3px;
	text-decoration: none;
	opacity: 0.6;
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	filter: alpha(opacity=60);
}
	
#fixed_icons a:hover {
	opacity: 1.0;
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	filter: alpha(opacity=100);
}
	
#fixed_icons #yHelp {
	background: url("../Icons/icon_wiki_help.png") no-repeat;
}