
.TreeView			
{
color:#000000; 
font-size:8pt; 
font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
font-weight: bold;
} 

A.TreeView:LINK		
{
Text-Decoration: none; 
color: Black; 
font-size:8pt; 
font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
font-weight: bold;
} 
A.TreeView:VISITED	
{
Text-Decoration: none; 
color: Black; 
font-size:8pt; 
font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
font-weight : bold;
} 
A.TreeView:HOVER	
{Text-Decoration: underline; 
color: #CC0000; 
font-size:8pt; 
font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
font-weight : bold;
}

