<configuration>
	<configSections>
		<section name="IMAGE" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<!--01-->	<add key="Encryption" value="FALSE" />
		<!--02-->	<add key="IMAGEKEEPHISTORY" value="18" />
		<!--03-->	<add key="IMAGELIST800" value="90" />
		<!--04-->	<add key="IMAGELIST1024" value="180" />
		<!--05-->	<add key="IMAGELIST1280" value="210" />
		<!--06-->	<add key="IMAGELIST1400" value="235" />
		<!--06a-->	<add key="IMAGELIST1440" value="245" />
		<!--07-->	<add key="IMAGELIST1600" value="270" />
		<!--07a-->	<add key="IMAGELIST1680" value="290" />
		<!--08-->	<add key="IMAGELIST1900" value="340" />
		<!--09-->	<add key="IMAGEEDIT800" value="250" />
		<!--10-->	<add key="IMAGEEDIT1024" value="300" />
		<!--11-->	<add key="IMAGEEDIT1280" value="500" />
		<!--12-->	<add key="IMAGEEDIT1400" value="600" />
		<!--13-->	<add key="IMAGEEDIT1600" value="700" />
	    <!--13a--> <add key="IMAGEEDIT1680" value="720" />
		<!--14-->	<add key="IMAGEEDIT1900" value="800" />
		<!--15-->	<add key="IMAGEMATERIALTYPE" value="Material" />
		<!--16-->	<add key="IMAGESTYLETYPE" value="Style" />
		<!--17-->	<add key="AutoNumberGenerator" value="TRUE" />
		<!--18-->	<add key="AutoNumberAlert" value="FALSE" />
		<!--19-->	<add key="AllowTask" value="FALSE" />
		<!--20-->	<add key="DRAWSETTING_DEFAULT" value="800" />
		<!--21-->	<add key="DRAWSETTING_AI" value="Res=300 Timeout=800 AutoRotate=true Modules='PS,EPSF,APS' interpolation='super' Fit=True VAlign=middle HAlign=middle " />
		<!--22-->	<add key="DRAWSETTING_VECTOR" value="Res=300 Timeout=800 AutoRotate=true Modules='PS,EPSF,APS'" />
		<!--23-->	<add key="DRAWSETTING_RASTER" value="Timeout=180" />
		<!--24-->	<add key="DRAWSETTING_TIFF" value="Timeout=800 PL=false Modules='GDI' Fit='true' RenderingIntent='Saturation'" />
		<!--25-->	<add key="SAVESETTING_AI" value="Quality=lossless" />

		<!--26-->	<add key="SAVESETTING_VECTOR" value="Quality=high" />
		<!--27-->	<add key="SAVESETTING_RASTER" value="Quality=high" />
		<!--28-->	<add key="SAVESETTING_TIFF" value="Quality=high" />		
		<!--29-->	<add key="AllowIssue" value="FALSE" />
		<!--30-->	<add key="ImageCatalogReportPageID" value="48E52AF7-25F4-4666-A062-882D8C95BBE7" />
    
		<!--31-->	<add key="ImageHttpStream" value="TRUE" />
		<!--32-->	<add key="ImageHttpCacheEnable" value="TRUE" />
		<!-- Add respective HttpCacheDuration for different HttpHandler -->
		<!--33-->	<add key="ButtonHttpCacheDuration" value="604800" /> <!--1 week-->
		<!--34-->	<add key="ColorHttpCacheDuration" value="86400" /> <!--1 day-->
		<!--35-->	<add key="IconHttpCacheDuration" value="604800" /> <!--1 week-->
		<!--36-->	<add key="ImageHttpCacheDuration" value="86400" /> <!--1 day-->
		
        <!--37-->   <add key="ImageShareTradePartner" value="True" />		
		<!--38-->	<add key="ShowImageWorkflowMarkupTool" value="FALSE" />
		<!--39-->	<add key="ImageWorkflowVersionImageSize" value="600" />
		<!--40-->	<add key="HelpImageSizeLimit" value="512000" />
		<!--41--> 	<add key="DRAWARTBOX_AI" value="TRUE" />
		<!--42--> 	<add key="IMAGERESOLUTION" value="300" />
		<!--43--> 	<add key="IMAGEMAXSIZE" value="30000" />
    <!--44-->   <add key="ZOOMINLEVEL" value="5" />
		<!--45--> 	<add key="PointcarreImageWidth" value="600px" />
    <!--46--> 	<add key="PointcarreImageHeight" value="600px" />
    <!--47--> 	<add key="PointcarreImageResolution" value="96" />
	<!--48--> 	<add key="EnableImagePages" value="FALSE" />
	<!--49--> 	<add key="EnableImageCalendar" value="TRUE" />
	</appSettings>
</configuration>
