IF EXISTS (SELECT name FROM sysindexes WHERE name = 'IX_pConPageDetail_1') 
DROP INDEX pConPageDetail.IX_pConPageDetail_1
go


CREATE NONCLUSTERED INDEX [IX_pConPageDetail_1] ON [dbo].[pConPageDetail] 
(
	[Level1ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

IF EXISTS (SELECT name FROM sysindexes WHERE name = 'IX_pConPageDetail_2') 
DROP INDEX pConPageDetail.IX_pConPageDetail_2
go

CREATE NONCLUSTERED INDEX [IX_pConPageDetail_2] ON [dbo].[pConPageDetail] 
(
	[Level2ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO


IF EXISTS (SELECT name FROM sysindexes WHERE name = 'IX_pConPageDetail_3') 
DROP INDEX pConPageDetail.IX_pConPageDetail_3
go


CREATE NONCLUSTERED INDEX [IX_pConPageDetail_3] ON [dbo].[pConPageDetail] 
(
	[Level3ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO


IF EXISTS (SELECT name FROM sysindexes WHERE name = 'IX_pConPageDetailSID') 
DROP INDEX pConPageDetail.IX_pConPageDetailSID
go


CREATE NONCLUSTERED INDEX [IX_pConPageDetailSID] ON [dbo].[pConPageDetail] 
(
	[StyleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

IF EXISTS (SELECT name FROM sysindexes WHERE name = 'IX_pConPageDetailWFID') 
DROP INDEX pConPageDetail.IX_pConPageDetailWFID
go


CREATE NONCLUSTERED INDEX [IX_pConPageDetailWFID] ON [dbo].[pConPageDetail] 
(
	[WorkflowID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO


IF EXISTS (SELECT name FROM sysindexes WHERE name = 'PK_pConPageDetail_1') 
ALTER TABLE pConPageDetail DROP CONSTRAINT PK_pConPageDetail_1
go


ALTER TABLE [dbo].[pConPageDetail] ADD  CONSTRAINT [PK_pConPageDetail_1] PRIMARY KEY CLUSTERED 
(
	[ConstructionDetailID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO