-- ******************************************************************************************** */
-- * GERBER TECHNOLOGY                                                                          */
-- *                                                                                            */
-- * YuniquePLM                                                                                 */
-- * Alter Script                                                                               */
-- * Database:                                                                                  */
-- *  9 December 2010                                                                           */
-- *                                                                                            */
-- * Copyright (c) 2002-2010 Gerber Technology, Inc.  All rights reserved.                      */
-- * This information is confidential and proprietary.  You may not disseminate it              */
-- * to any other party without the express written consent of Gerber Technology, Inc.          */
-- *                                                                                            */
-- ******************************************************************************************** */
-- ******************************************************************************************** */
-- COMMENTS
--
--
--
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'spx_UserSetting_SELECT') AND type = N'P' )
	DROP PROCEDURE spx_UserSetting_SELECT
GO


CREATE PROCEDURE spx_UserSetting_SELECT
(
    @TeamID UNIQUEIDENTIFIER,
    @SettingSection nvarchar(200),
    @SettingKey nvarchar(200)
)
AS

BEGIN 

    SELECT UserSettingID, TeamID, SettingSection, SettingKey, SettingValue
    FROM uUserSetting
    WHERE TeamID = @TeamID 
    AND SettingSection = @SettingSection 
    AND SettingKey = @SettingKey

END
GO


INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES ('DB_Version', '4.0.0000', '859', GetDate())
GO
