/*
   Monday, December 06, 20101:49:49 PM
   User: 
   Server: localhost
   Database: plmOnOoTB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = N'pStyleQuoteVariation ' and COLUMN_NAME = N'StyleSeasonYearID')
       BEGIN 
             ALTER TABLE pStyleQuoteVariation ADD StyleSeasonYearID uniqueidentifier NULL         
       END
GO

COMMIT
GO

INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES     ('DB_Version', '4.0.0000', '900', GetDate())

GO
