
IF NOT EXISTS( SELECT * FROM INFORMATION_SCHEMA.COLUMNS 
	WHERE TABLE_NAME = 'pStyleDetail' 
    AND  COLUMN_NAME = 'StyleDetailLinkItemID')
	ALTER TABLE pStyleDetail ADD  StyleDetailLinkItemID UNIQUEIDENTIFIER
	
IF NOT EXISTS( SELECT * FROM INFORMATION_SCHEMA.COLUMNS 
	WHERE TABLE_NAME = 'pStyleDetail' 
    AND  COLUMN_NAME = 'SessionItemTempID')
	ALTER TABLE pStyleDetail ADD  SessionItemTempID UNIQUEIDENTIFIER




