IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sSystemCulture]') AND type in (N'U'))
	DROP TABLE [dbo].[sSystemCulture]
GO

CREATE TABLE [dbo].[sSystemCulture](
	[CultureIndentifierID] [varchar](6) NOT NULL,
	[CultureName] [varchar](6) NULL,
	[CultureCountry] [varchar](200) NULL,
	[CultureLanguage] [varchar](200) NULL,
	[Active] [int] NOT NULL,
	[Unicode] [int] NULL,
	[DecimalValidationRegEx] [nvarchar](512) NULL,
	[DateValidationRegEx] [nvarchar](512) NULL,
	[CurrencyValidationRegEx] [nvarchar](512) NULL,
	[DateShortFormat] [nvarchar](50) NULL,
	[DateLongFormat] [nvarchar](50) NULL,
	[TimeShortFormat] [nvarchar](50) NULL,
	[TimeLongFormat] [nvarchar](50) NULL,
	[NumberDecimalSymbol] [nchar](1) NULL,
	[NumberDigitGroupingSymbol] [nchar](1) NULL,
	[CurrencySymbol] [nchar](1) NULL,
	[CurrencyDecimalSymbol] [nchar](1) NULL,
	[CurrencyDigitGroupingSymbol] [nchar](1) NULL,
	[DateTimeShortFormat] [nvarchar](50) NULL,
	[DateTimeLongFormat] [nvarchar](50) NULL,
	[CurrencyFormat] [nvarchar](50) NULL,
	[PercentFormat] [nvarchar](50) NULL,
	[PercentValidationRegEx] [nvarchar](512) NULL,
	[DecimalFormat] [nvarchar](50) NULL,
 CONSTRAINT [PK_sSystemCulture] PRIMARY KEY CLUSTERED 
(
	[CultureIndentifierID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_sSystemCulture_Active]    Script Date: 03/04/2011 10:36:48 ******/
ALTER TABLE [dbo].[sSystemCulture] ADD  CONSTRAINT [DF_sSystemCulture_Active]  DEFAULT ((1)) FOR [Active]
GO
/****** Object:  Default [DF_sSystemCulture_Unicode]    Script Date: 03/04/2011 10:36:48 ******/
ALTER TABLE [dbo].[sSystemCulture] ADD  CONSTRAINT [DF_sSystemCulture_Unicode]  DEFAULT ((0)) FOR [Unicode]
GO


INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES     ('DB_Version', '4.0.0000', '01229', GetDate())
GO