IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spx_TradePartnerVendor_Rate_INSERT]') AND type = N'P' )
	DROP PROCEDURE [dbo].[spx_TradePartnerVendor_Rate_INSERT]
GO

CREATE PROCEDURE [dbo].[spx_TradePartnerVendor_Rate_INSERT] (
@TradePartnerVendorRateID UNIQUEIDENTIFIER,
@NewTradePartnerVendorRateID UNIQUEIDENTIFIER,
@FieldsSelected NVARCHAR(4000) ,
@CUser NVARCHAR(200), 
@CDate DATETIME 
)
AS 
	
DECLARE @TradePartnerVendorID UNIQUEIDENTIFIER

SELECT @TradePartnerVendorID = TradePartnerVendorID  
FROM pTradePartnerVendorRate WITH(NOLOCK)
WHERE TradePartnerVendorRateID = @TradePartnerVendorRateID	
	
INSERT INTO  pTradePartnerVendorRate ( TradePartnerVendorRateID , TradePartnerVendorID, CUser, CDate, MUser, MDate )
VALUES (@NewTradePartnerVendorRateID, @TradePartnerVendorID, @CUser, @CDate, @CUser, @CDate )  
	

/***
** Copy all Items
***/	
DECLARE @SQL AS NVARCHAR(4000)
IF LEN (@FieldsSelected) > 0 
BEGIN 
	SET @SQL = 'INSERT INTO pTradePartnerVendorRateItem( TradepartnerVendorRateItemID, TradePartnerVendorRateID, StyleCategoryID, 
	CDate, CUser, MUser, MDate, ' +  @FieldsSelected + ') 
	SELECT NewID(), ''' + CAST(@NewTradePartnerVendorRateID AS NVARCHAR(40))  + ''', StyleCategoryID, '''  +
	CAST(@CDate AS NVARCHAR(20))  + ''', ''' +  @CUser + ''',  ''' +  @CUser + ''',  ''' +  CAST(@CDate AS NVARCHAR(20)) + ''', ' + @FieldsSelected + '
	FROM pTradePartnerVendorRateItem WITH(NOLOCK) WHERE TradePartnerVendorRateID =  '''  + CAST(@TradePartnerVendorRateID  AS NVARCHAR(40)) + ''' '
END 
ELSE 
BEGIN
	SET @SQL = 'INSERT INTO pTradePartnerVendorRateItem( TradepartnerVendorRateItemID, TradePartnerVendorRateID, StyleCategoryID, 
	CDate, CUser, MUser, MDate )   
	SELECT NewID(), ''' + CAST(@NewTradePartnerVendorRateID AS NVARCHAR(40))  + ''', StyleCategoryID, '''  +
	CAST(@CDate AS NVARCHAR(20))  + ''', ''' +  @CUser + ''',  ''' +  @CUser + ''',  ''' +  CAST(@CDate AS NVARCHAR(20)) + '''  
	FROM pTradePartnerVendorRateItem WITH(NOLOCK) WHERE TradePartnerVendorRateID =  '''  + CAST(@TradePartnerVendorRateID  AS NVARCHAR(40)) + ''' '
END 


EXECUTE sp_executesql @SQL

GO


INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES     ('DB_Version', '4.1.0000', '01352', GetDate())
GO

