-- ******************************************************************************************** */
-- * GERBER TECHNOLOGY                                                                          */
-- *                                                                                            */
-- * YuniquePLM                                                                                 */
-- * Alter Script                                                                               */
-- * Database:                                                                                  */
-- * 14 April 2011                                                                              */
-- *                                                                                            */
-- * Copyright (c) 2002-2010 Gerber Technology, Inc.  All rights reserved.                      */
-- * This information is confidential and proprietary.  You may not disseminate it              */
-- * to any other party without the express written consent of Gerber Technology, Inc.          */
-- *                                                                                            */
-- ******************************************************************************************** */
-- ******************************************************************************************** */
-- COMMENTS
--
--
--
IF EXISTS (SELECT * FROM sysobjects WHERE id = object_id('spx_LineFolderItemStyle_SELECT') and sysstat & 0xf = 4)
    DROP PROCEDURE spx_LineFolderItemStyle_SELECT
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE spx_LineFolderItemStyle_SELECT
(
    @LineFolderID uniqueidentifier,
    @SeasonYearID uniqueidentifier = NULL,
    @LineFolderItemDrop varchar(10) = NULL,
    @LineFolderItemSort varchar(10) = NULL,
    @SqlViewName varchar(8000) = NULL,
    @SqlWhere varchar(8000) = NULL
)

AS

/*Create temp tables.*/
--Holds Style record.
CREATE TABLE #temp
	(
	TableRow int NOT NULL IDENTITY (1, 1)
	,LineFolderID UNIQUEIDENTIFIER
	,LineFolderItemID UNIQUEIDENTIFIER
	,LineItemFolder1 nvarchar(100)
	,LineItemFolder2 nvarchar(100)
	,LineItemFolder3 nvarchar(100)
	,LineItemFolder4 nvarchar(100)
	,LineItemFolder5 nvarchar(100)
	,LineItemFolder6 nvarchar(100)
	,LineItemFolder7 nvarchar(100)
	,LineItemFolder8 nvarchar(100)
	,LineItemFolder9 nvarchar(100)
	,LineFolderItemDrop nvarchar(5)
	,LineFolderItemDropUser nvarchar(200)
	,LineFolderItemDropDate datetime
	,LineFolderImageID uniqueidentifier
	,LineFolderImageVersion int
	,LineFolderItemSort varchar(5)
	,CUser nvarchar(200)
	,CDate datetime
	,MUser nvarchar(200)
	,MDate datetime
	,MChange int
	,SeasonYearID UNIQUEIDENTIFIER
	,StyleID UNIQUEIDENTIFIER				--pStyleHeader.StyleID
	,DesignSketchID UNIQUEIDENTIFIER		--pStyleHeader.DesignSketchID
	,DesignSketchVersion int				--pStyleHeader.DesignSketchVersion
	,ConceptNo NVARCHAR(200)				--pStyleHeader.DevelopmentNo + pStyleDevelopmentItem.Variation
	,DevelopmentNo NVARCHAR(20)             --pStyleHeader.DevelopmentNo
	,StyleNo NVARCHAR(20)					--pStyleHeader.StyleNo
	,CustomField1 NVARCHAR(200)             --pStyleHeader.CustomField1
	,PatternRef NVARCHAR(200)				--pStyleHeader.CustomField5
	,[Description] NVARCHAR(200)			--pStyleHeader.[Description]
	,DMCStyleType NVARCHAR(200)				--pStyleHeader.CustomField8
	,FabricYarnType NVARCHAR(200)			--pStyleMaterials.F
	,MainMaterial NVARCHAR(200)				--pStyleMaterials.MaterialName
	,[Content] NVARCHAR(200)				--pStyleMaterials.H
	,FabricWeight NVARCHAR(200)				--pStyleMaterials.I
	,SizeClass NVARCHAR(50)					--pStyleHeader.SizeClass
	,SizeRange NVARCHAR(50)					--pStyleHeader.SizeRange
	,TPAgent1 NVARCHAR(200)					--uTradePartner.TradePartnerName
	,TPAgent2 NVARCHAR(200)					--uTradePartner.TradePartnerName
	,TPAgent3 NVARCHAR(200)					--uTradePartner.TradePartnerName
	,TPAgent4 NVARCHAR(200)					--uTradePartner.TradePartnerName
	,TPAgent5 NVARCHAR(200)					--uTradePartner.TradePartnerName
	,TPAgent6 NVARCHAR(200)					--uTradePartner.TradePartnerName
	,ColorName NVARCHAR(4000)				--pLineFolderItemColor.StyleColorName (Items strung together)
	)  ON [PRIMARY]

ALTER TABLE dbo.#temp ADD CONSTRAINT
	PK_#temp PRIMARY KEY CLUSTERED 
	(
	TableRow
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


--Holds Tech Pack Agent records.
CREATE TABLE dbo.#tempTPAgents
	(
	TableRow int NOT NULL IDENTITY (1, 1)
	,StyleID UNIQUEIDENTIFIER
	,TradePartnerID UNIQUEIDENTIFIER
	,TPAgent NVARCHAR(200)
	)  ON [PRIMARY]

ALTER TABLE dbo.#tempTPAgents ADD CONSTRAINT
	PK_#tempTPAgents PRIMARY KEY CLUSTERED 
	(
	TableRow
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


--Holds Colorway records.
CREATE TABLE dbo.#tempColorways
	(
	TableRow int NOT NULL IDENTITY (1, 1)
	,ColorNameIndividual NVARCHAR(200)
	)  ON [PRIMARY]

ALTER TABLE dbo.#tempColorways ADD CONSTRAINT
	PK_#tempColorways PRIMARY KEY CLUSTERED 
	(
	TableRow
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


/*Declare variables.*/
DECLARE @TotalCount2 INT
DECLARE @RowCounter2 INT

DECLARE @LineFolderItemID UNIQUEIDENTIFIER
DECLARE @StyleID UNIQUEIDENTIFIER

DECLARE @TotalCount INT
DECLARE @RowCounter INT

DECLARE @TPAgent NVARCHAR(200)

DECLARE @SQLString VARCHAR(4000)

DECLARE @ColorNameIndividual NVARCHAR(200)
DECLARE @ColorName NVARCHAR(4000)


/*
Get the initial data for the Style records 
FROM VIEW IN THE PARAMS
*/

EXEC('INSERT INTO #temp(
	LineFolderID
	,LineFolderItemID
	,LineItemFolder1 
	,LineItemFolder2 
	,LineItemFolder3 
	,LineItemFolder4 
	,LineItemFolder5 
	,LineItemFolder6 
	,LineItemFolder7 
	,LineItemFolder8 
	,LineItemFolder9 
	,LineFolderItemDrop 
	,LineFolderItemDropUser 
	,LineFolderItemDropDate 
	,LineFolderImageID 
	,LineFolderImageVersion 
	,LineFolderItemSort
	,DesignSketchID
	,DesignSketchVersion
	,CUser 
	,CDate 
	,MUser 
	,MDate 
	,MChange 
	,StyleID
	,ConceptNo
	,DevelopmentNo
	,StyleNo
	,CustomField1
	,PatternRef
	,[Description]
	,DMCStyleType
	,FabricYarnType
	,MainMaterial
	,[Content]
	,FabricWeight
	,SizeClass
	,SizeRange
)
SELECT
	LineFolderID
	,LineFolderItemID
	,LineItemFolder1 
	,LineItemFolder2 
	,LineItemFolder3 
	,LineItemFolder4 
	,LineItemFolder5 
	,LineItemFolder6 
	,LineItemFolder7 
	,LineItemFolder8 
	,LineItemFolder9 
	,LineFolderItemDrop 
	,LineFolderItemDropUser 
	,LineFolderItemDropDate 
	,LineFolderImageID 
	,LineFolderImageVersion 
	,LineFolderItemSort
	,DesignSketchID
	,DesignSketchVersion
	,CUser 
	,CDate 
	,MUser 
	,MDate 
	,MChange 
	,StyleID
	,ConceptNo
	,DevelopmentNo
	,StyleNo
	,CustomField1
	,PatternRef
	,[Description]
	,DMCStyleType
	,FabricYarnType
	,MainMaterial
	,[Content]
	,FabricWeight
	,SizeClass
	,SizeRange
FROM ' + @SqlViewName + ' 
' + @SqlWhere + ' 
ORDER BY LineFolderItemSort, StyleNo')


/*Get and set counts for records in the Line Folder.*/
SELECT @TotalCount2 = COUNT(*) FROM #temp
SET @RowCounter2 = 1


/*Loop through the Line Folder records.*/
WHILE(@RowCounter2 <= @TotalCount2)
	BEGIN
		/*Clear variables.*/
		SET @LineFolderItemID = NULL
		SET @StyleID =NULL

		/*Get the LineFolderItemID and StyleID.*/
		SELECT @LineFolderItemID = LineFolderItemID
			,@StyleID = StyleID
		FROM #temp
		WHERE TableRow = @RowCounter2


		/*Get information for TP Agents for the Style.*/
		INSERT INTO #tempTPAgents(
			StyleID
			,TradePartnerID
			,TPAgent
		)
		SELECT DISTINCT TOP 6
			pTechPackTeam.StyleID
			,pTechPackTeam.TeamID AS TradePartnerID
			,uTradePartner.TradePartnerName AS TPAgent
		FROM pTechPackTeam
			INNER JOIN uTradePartner ON	pTechPackTeam.TeamID = uTradePartner.TradePartnerID
		WHERE pTechPackTeam.StyleID = @StyleID
		ORDER BY uTradePartner.TradePartnerName ASC


		/*Get & set counters of TPAgents.*/
		SELECT @TotalCount = COUNT(*) FROM #tempTPAgents
		SET @RowCounter = 1


		/*Loop to update Style record with Tech Pack Agents.*/
		WHILE(@RowCounter <= @TotalCount)
			BEGIN
				/*Clear variables.*/
				SET @TPAgent = ''

				/*Get Tech Pack Agent name.*/
				SELECT @TPAgent = TPAgent
				FROM #tempTPAgents
				WHERE TableRow = @RowCounter

				/*Build dynamic SQL String.*/
				SET @SQLString = ' UPDATE #temp '
				SET @SQLString = @SQLString + ' SET TPAgent' + CAST(@RowCounter AS VARCHAR(5)) + ' = ''' + @TPAgent + ''''
				SET @SQLString = @SQLString + ' WHERE TableRow = ' + CAST(@RowCounter2 AS VARCHAR(5))

				/************/
				/*Testing.	*/
				/************/
--				SELECT @SQLString

				/*Run dynamic SQL String to update Style record.*/
				EXEC(@SQLString)

				/*Up counter.*/
				SET @RowCounter = @RowCounter + 1
			END


		/*Get Colorway records.*/
		INSERT INTO #tempColorways(
			ColorNameIndividual
		)
		SELECT
			StyleColorName AS ColorNameIndividual
		FROM pLineFolderItemColor
		WHERE LineFolderItemID = @LineFolderItemID
			AND LineFolderItemColorDrop <> 1
		ORDER BY StyleColorName


		/*Get & set counters.*/
		SELECT @TotalCount = COUNT(*) FROM #tempColorways
		SET @RowCounter = 1


		/*Clear variables.*/
		SET @ColorName = ''


		/*Loop to string the ColorNames together.*/
		WHILE(@RowCounter <= @TotalCount)
			BEGIN
				/*Clear variables.*/
				SET @ColorNameIndividual = ''

				/*Get ColorName.*/
				SELECT @ColorNameIndividual = ColorNameIndividual
				FROM #tempColorways
				WHERE TableRow = @RowCounter

				/*Add individual color to the color string.*/
				IF(@RowCounter = 1)
					BEGIN
						SET @ColorName = @ColorNameIndividual
					END
				ELSE
					BEGIN
						SET @ColorName = @ColorName + ', ' + @ColorNameIndividual
					END

				/*Up counter.*/
				SET @RowCounter = @RowCounter + 1
			END


		/*Update temp table with strung together colorway names.*/
		UPDATE #temp
		SET ColorName = @ColorName
		WHERE TableRow = @RowCounter2


		/*Truncate temp tables to be re-used for next pass of a Line Folder record.*/
		TRUNCATE TABLE #tempTPAgents
		TRUNCATE TABLE #tempColorways


		/*Up counter.*/
		SET @RowCounter2 = @RowCounter2 + 1
	END


/*Final SELECT.*/
SELECT * FROM #temp ORDER BY LineFolderItemSort, StyleNo

/*Final COUNT(*)
It's required for paging on ASPX page
*/
SELECT COUNT(*) FROM #temp

/*Drop temp table.*/
DROP TABLE #temp
DROP TABLE #tempTPAgents
DROP TABLE #tempColorways
GO


INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES ('DB_Version', '4.1.0000', '01384', GetDate())
GO
