-- ******************************************************************************************** */
-- * GERBER TECHNOLOGY                                                                          */
-- *                                                                                            */
-- * YuniquePLM                                                                                 */
-- * Alter Script                                                                               */
-- * Database:                                                                                  */
-- * 26 August 2011                                                                             */
-- *                                                                                            */
-- * Copyright (c) 2002-2011 Gerber Technology, Inc.  All rights reserved.                      */
-- * This information is confidential and proprietary.  You may not disseminate it              */
-- * to any other party without the express written consent of Gerber Technology, Inc.          */
-- *                                                                                            */
-- ******************************************************************************************** */
-- ******************************************************************************************** */
-- COMMENTS
--
--
--

GO
/****** Object:  Table [dbo].[pStitchType]    Script Date: 08/26/2011 18:06:02 ******/
INSERT [dbo].[pStitchType] ([Custom], [CustomKey], [Active], [CUser], [CDate], [MUser], [MDate], [CustomSort], [CustomID]) VALUES (N'Double Needle', N'DN', 1, N'administrator', getdate(), N'administrator', getdate(), N'00000', N'f408c68e-d755-4c1d-a620-074b95daff50')
INSERT [dbo].[pStitchType] ([Custom], [CustomKey], [Active], [CUser], [CDate], [MUser], [MDate], [CustomSort], [CustomID]) VALUES (N'Double Needle Felled', N'', 1, N'administrator', getdate(), N'administrator', NULL, N'00000', N'e59e4294-d7db-4b04-bd7d-18534b593ce5')
INSERT [dbo].[pStitchType] ([Custom], [CustomKey], [Active], [CUser], [CDate], [MUser], [MDate], [CustomSort], [CustomID]) VALUES (N'Understitch', N'', 1, N'administrator', getdate(), N'administrator', NULL, N'00000', N'84a6fb0a-8966-47c7-bb2c-1b036ac0d8fe')

GO

IF(NOT EXISTS(SELECT * FROM sVersion WHERE LastScriptRun='01774'))
BEGIN
	INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
	VALUES     ('DB_Version', '4.1.0000', '01774', GetDate())
END