SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spx_ColorLibraryPANTONEPending_INSERT]  ( 
	@BookOrder int, 
	@PANTONEType varchar(50),
	@ColorPaletteID uniqueidentifier, 
	@ColorFolderID uniqueidentifier, 
	@ColorImage int,
	@CUser nVarchar (200), 
	@CDate datetime,
	@MUser nVarchar (200), 
	@MDate datetime  
) 
AS

DECLARE @SystemServerStorageID UNIQUEIDENTIFIER
DECLARE @ColorCode varchar(50)
DECLARE @ColorHEX varchar(7)

IF @PANTONEType = 'PANTONE TCX'
	BEGIN
		SELECT @ColorCode = PANTONEColor FROM ColorLibraryTCX WHERE BookOrder = @BookOrder AND PANTONEType = 'PANTONE TCX'

		IF (SELECT COUNT(*) FROM pColorPalette WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
		BEGIN 
			IF (SELECT COUNT(*) FROM ColorLibraryPending WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
			BEGIN
				SELECT @SystemServerStorageID = SystemServerStorageID FROM pColorFolder WHERE ColorFolderID = @ColorFolderID

				INSERT INTO ColorLibraryPending (ColorPaletteID, ColorFolderID, ColorCode, ColorName, ColorSource, ColorNotes, 
					HEX, R, G, B, H, S, L, LAB_L, LAB_A, LAB_B, CUser, CDate, MUser, MDate, [Action], ColorImage, SystemServerStorageID) 
				SELECT @ColorPaletteId, @ColorFolderId, PANTONEColor, PANTONEName, PANTONEType, '' AS ColorNotes, 
					sRGB_HTML, sRGB_D65_2_R, sRGB_D65_2_G, sRGB_D65_2_B, 0 AS H, 0 AS S, 0 AS L, 
					CIELab_D50_2_L, CIELab_D50_2_A, CIELab_D50_2_B, @CUser, @CDate, @MUser, @MDate, 1, @ColorImage, @SystemServerStorageID 
				FROM ColorLibraryTCX WHERE BookOrder = @BookOrder

			END
		END
	END
ELSE IF @PANTONEType = 'PANTONE TPX'
	BEGIN
		SELECT @ColorCode = PANTONEColor FROM ColorLibraryTPX WHERE BookOrder = @BookOrder AND PANTONEType = 'PANTONE TPX'

		IF (SELECT COUNT(*) FROM pColorPalette WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
		BEGIN 
			IF (SELECT COUNT(*) FROM ColorLibraryPending WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
			BEGIN		
				SELECT @SystemServerStorageID = SystemServerStorageID FROM pColorFolder WHERE ColorFolderID = @ColorFolderID

				INSERT INTO ColorLibraryPending (ColorPaletteID, ColorFolderID, ColorCode, ColorName, ColorSource, ColorNotes, 
					HEX, R, G, B, H, S, L, LAB_L, LAB_A, LAB_B, CUser, CDate, MUser, MDate, [Action], ColorImage, SystemServerStorageID) 
				SELECT @ColorPaletteId, @ColorFolderId, PANTONEColor, PANTONEName, PANTONEType, '' AS ColorNotes, 
					sRGB_HTML, sRGB_D65_2_R, sRGB_D65_2_G, sRGB_D65_2_B, 0 AS H, 0 AS S, 0 AS L, 
					CIELab_D50_2_L, CIELab_D50_2_A, CIELab_D50_2_B, @CUser, @CDate, @MUser, @MDate, 1, @ColorImage, @SystemServerStorageID 
				FROM ColorLibraryTPX WHERE BookOrder = @BookOrder

			END
		END
	END
ELSE IF @PANTONEType = 'PANTONE TN'
	BEGIN
		SELECT @ColorCode = PANTONEColor FROM pColorLibraryTN WHERE BookOrder = @BookOrder AND PANTONEType = 'PANTONE TN'

		IF (SELECT COUNT(*) FROM pColorPalette WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
		BEGIN 
			IF (SELECT COUNT(*) FROM ColorLibraryPending WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
			BEGIN		
				SELECT @SystemServerStorageID = SystemServerStorageID FROM pColorFolder WHERE ColorFolderID = @ColorFolderID

				INSERT INTO ColorLibraryPending (ColorPaletteID, ColorFolderID, ColorCode, ColorName, ColorSource, ColorNotes, 
					HEX, R, G, B, H, S, L, LAB_L, LAB_A, LAB_B, CUser, CDate, MUser, MDate, [Action], ColorImage, SystemServerStorageID) 
				SELECT @ColorPaletteId, @ColorFolderId, PANTONEColor, PANTONEName, PANTONEType, '' AS ColorNotes, 
					sRGB_HTML, sRGB_D65_2_R, sRGB_D65_2_G, sRGB_D65_2_B, 0 AS H, 0 AS S, 0 AS L, 
					CIELab_D50_2_L, CIELab_D50_2_A, CIELab_D50_2_B, @CUser, @CDate, @MUser, @MDate, 1, @ColorImage, @SystemServerStorageID 
				FROM pColorLibraryTN WHERE BookOrder = @BookOrder

			END
		END
	END
ELSE IF @PANTONEType = 'PANTONE COATED'
	BEGIN

		SELECT @ColorCode = PANTONEColor FROM PantoneCoated WHERE BookOrder = @BookOrder AND PANTONEType = 'PANTONE COATED'

		IF (SELECT COUNT(*) FROM pColorPalette WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
		BEGIN 
			IF (SELECT COUNT(*) FROM ColorLibraryPending WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
			BEGIN		
				SELECT @SystemServerStorageID = SystemServerStorageID FROM pColorFolder WHERE ColorFolderID = @ColorFolderID

				INSERT INTO ColorLibraryPending (ColorPaletteID, ColorFolderID, ColorCode, ColorName, ColorSource, ColorNotes, 
					HEX, R, G, B, H, S, L, LAB_L, LAB_A, LAB_B, CUser, CDate, MUser, MDate, [Action], ColorImage, SystemServerStorageID) 
				SELECT @ColorPaletteId, @ColorFolderId, PANTONEColor, PANTONEName, PANTONEType, '' AS ColorNotes, 
					sRGB_HTML, sRGB_D65_2_R, sRGB_D65_2_G, sRGB_D65_2_B, 0 AS H, 0 AS S, 0 AS L, 
					CIELab_D50_2_L, CIELab_D50_2_A, CIELab_D50_2_B, @CUser, @CDate, @MUser, @MDate, 1, @ColorImage, @SystemServerStorageID 
				FROM PantoneCoated WHERE BookOrder = @BookOrder

			END
		END
	END
ELSE IF @PANTONEType = 'PANTONE UNCOATED'
	BEGIN

		SELECT @ColorCode = PANTONEColor FROM PantoneUncoated WHERE BookOrder = @BookOrder AND PANTONEType = 'PANTONE UNCOATED'

		IF (SELECT COUNT(*) FROM pColorPalette WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
		BEGIN 
			IF (SELECT COUNT(*) FROM ColorLibraryPending WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
			BEGIN		
				SELECT @SystemServerStorageID = SystemServerStorageID FROM pColorFolder WHERE ColorFolderID = @ColorFolderID

				INSERT INTO ColorLibraryPending (ColorPaletteID, ColorFolderID, ColorCode, ColorName, ColorSource, ColorNotes, 
					HEX, R, G, B, H, S, L, LAB_L, LAB_A, LAB_B, CUser, CDate, MUser, MDate, [Action], ColorImage, SystemServerStorageID) 
				SELECT @ColorPaletteId, @ColorFolderId, PANTONEColor, PANTONEName, PANTONEType, '' AS ColorNotes, 
					sRGB_HTML, sRGB_D65_2_R, sRGB_D65_2_G, sRGB_D65_2_B, 0 AS H, 0 AS S, 0 AS L, 
					CIELab_D50_2_L, CIELab_D50_2_A, CIELab_D50_2_B, @CUser, @CDate, @MUser, @MDate, 1, @ColorImage, @SystemServerStorageID 
				FROM PantoneUncoated WHERE BookOrder = @BookOrder

			END
		END
	END

ELSE
	BEGIN
		SELECT @ColorCode = PantoneNumber, @ColorHEX = [HEX] FROM ColorLibrary WHERE ID = @BookOrder --AND PantoneType = 'Burberry Default'
		
		IF @ColorHEX IS NULL 
		BEGIN
			SET @ColorImage = 1
		END
			
		IF (SELECT COUNT(*) FROM pColorPalette WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
		BEGIN 
			IF (SELECT COUNT(*) FROM ColorLibraryPending WITH (NOLOCK) WHERE ColorFolderID = @ColorFolderID  AND  ColorCode = @ColorCode)  = 0 
			BEGIN		
				SELECT @SystemServerStorageID = SystemServerStorageID FROM pColorFolder WHERE ColorFolderID = @ColorFolderID

				INSERT INTO ColorLibraryPending (ColorPaletteID, ColorFolderID, ColorCode, ColorName, ColorSource, ColorNotes, 
					HEX, R, G, B, H, S, L, LAB_L, LAB_A, LAB_B, CUser, CDate, MUser, MDate, [Action], ColorImage, SystemServerStorageID) 
				SELECT ColorPaletteID, @ColorFolderID, PantoneNumber,  PantoneName, ColorSource, '', 
					HEX, R, G, B, H, S, L, LAB_L, LAB_A, LAB_B, @CUser, @CDate, @MUser, @MDate, 1, @ColorImage, @SystemServerStorageID
				FROM ColorLibrary WHERE ID = @BookOrder
			
			END
		END
	END
	
	
IF(NOT EXISTS(SELECT * FROM sVersion WHERE LastScriptRun='02065'))
BEGIN
	
	INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
	VALUES ('DB_Version', '4.1.0000', '02065', GetDate())

END	  
GO