

IF NOT EXISTS(SELECT ControlPanelID FROM [pControlPanel] WHERE [ControlPanelTableName]='UOM' AND [IsDataValidation]=0)
BEGIN 
	
	DECLARE @MaxControlPanelID AS INT
	SET @MaxControlPanelID=0
	DECLARE @MaxControlPanelOrder AS INT
	SET @MaxControlPanelOrder=0
	
	SELECT 
		@MaxControlPanelID=ISNULL(MAX(ControlPanelID),0)+1,
		@MaxControlPanelOrder=ISNULL(MAX(ControlPanelID),0)+1 
	FROM 
		[pControlPanel]
		



END

GO

IF(NOT EXISTS(SELECT * FROM sVersion WHERE LastScriptRun='02535'))
BEGIN
	INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
	VALUES     ('DB_Version', '4.2.0000', '02535', GetDate())
END
GO