SELECT * INTO #changeTable FROM pChangeTable WHERE 1 = 2 -- copy table structure

/****** Object:  Table #changeTable   Script Date: 08/17/2012 16:28:10 ******/
INSERT #changeTable([ChangeTableID], [ChangeTableName], [ChangeTableFieldName], [ChangeTablePKName], [ChangeTableXML]) VALUES (N'd617faae-7acd-df11-af06-005056c00001', N'pStyleBOMDimensional', N'StyleBOMDimensionalID', N'StyleBOMDimensionalID', N'ChangeLogItem_Advanced.xml')
INSERT #changeTable([ChangeTableID], [ChangeTableName], [ChangeTableFieldName], [ChangeTablePKName], [ChangeTableXML]) VALUES (N'3219fd45-becc-df11-af06-005056c00008', N'pMaterial', N'MaterialID', N'MaterialID', N'ChangeLogItem_Default.xml')
INSERT #changeTable([ChangeTableID], [ChangeTableName], [ChangeTableFieldName], [ChangeTablePKName], [ChangeTableXML]) VALUES (N'00000001-c1cc-df11-af06-005056c00008', N'pStyleColorwayItem', N'StyleColorItemID', N'StyleColorItemID', N'ChangeLogItem_Default.xml')


-- update existing records
UPDATE pChangeTable 
SET [ChangeTableName] = t.[ChangeTableName],
	[ChangeTableFieldName] = t.[ChangeTableFieldName],
	[ChangeTablePKName] = t.[ChangeTablePKName],
	[ChangeTableXML] = t.[ChangeTableXML]
FROM #changeTable t WHERE t.ChangeTableID = pChangeTable.ChangeTableID

-- insert new records
INSERT INTO pChangeTable([ChangeTableID], [ChangeTableName], [ChangeTableFieldName], [ChangeTablePKName], [ChangeTableXML])
SELECT [ChangeTableID], [ChangeTableName], [ChangeTableFieldName], [ChangeTablePKName], [ChangeTableXML]
FROM #changeTable WHERE ChangeTableID NOT IN (SELECT ChangeTableID FROM pChangeTable)

DROP TABLE #changeTable
GO

INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES ('DB_Version', '5.0.0000', '03781', GetDate())
GO