IF OBJECT_ID ( 'spx_pSizeRange_UPDATE', 'P' ) IS NOT NULL 
    DROP PROCEDURE spx_pSizeRange_UPDATE;
GO

CREATE PROCEDURE [dbo].[spx_pSizeRange_UPDATE]
(
@SizeRangeID nvarchar(50),
@SizeRangeCode nvarchar(50),
@Size0 nvarchar(9),
@Size1 nvarchar(9),
@Size2 nvarchar(9),
@Size3 nvarchar(9),
@Size4 nvarchar(9),
@Size5 nvarchar(9),
@Size6 nvarchar(9),
@Size7 nvarchar(9),
@Size8 nvarchar(9),
@Size9 nvarchar(9),
@Size10 nvarchar(9),
@Size11 nvarchar(9),
@Size12 nvarchar(9),
@Size13 nvarchar(9),
@Size14 nvarchar(9),
@Size15 nvarchar(9),
@Size16 nvarchar(9),
@Size17 nvarchar(9),
@Size18 nvarchar(9),
@Size19 nvarchar(9),
@Size20 nvarchar(9),
@Size21 nvarchar(9),
@Size22 nvarchar(9),
@Size23 nvarchar(9),
@Size24 nvarchar(9),
@Size25 nvarchar(9),
@Size26 nvarchar(9),
@Size27 nvarchar(9),
@Size28 nvarchar(9),
@Size29 nvarchar(9),
@Size30 nvarchar(9),
@Size31 nvarchar(9),
@Size32 nvarchar(9),
@Size33 nvarchar(9),
@Size34 nvarchar(9),
@Size35 nvarchar(9),
@Size36 nvarchar(9),
@Size37 nvarchar(9),
@Size38 nvarchar(9),
@Size39 nvarchar(9),
@Size40 nvarchar(9),
@Size41 nvarchar(9),
@Size42 nvarchar(9),
@Size43 nvarchar(9),
@Size44 nvarchar(9),
@Size45 nvarchar(9),
@Size46 nvarchar(9),
@Size47 nvarchar(9),
@Size48 nvarchar(9),
@Size49 nvarchar(9),
@Sel0 bit,
@Sel1 bit,
@Sel2 bit,
@Sel3 bit,
@Sel4 bit,
@Sel5 bit,
@Sel6 bit,
@Sel7 bit,
@Sel8 bit,
@Sel9 bit,
@Sel10 bit,
@Sel11 bit,
@Sel12 bit,
@Sel13 bit,
@Sel14 bit,
@Sel15 bit,
@Sel16 bit,
@Sel17 bit,
@Sel18 bit,
@Sel19 bit,
@Sel20 bit,
@Sel21 bit,
@Sel22 bit,
@Sel23 bit,
@Sel24 bit,
@Sel25 bit,
@Sel26 bit,
@Sel27 bit,
@Sel28 bit,
@Sel29 bit,
@Sel30 bit,
@Sel31 bit,
@Sel32 bit,
@Sel33 bit,
@Sel34 bit,
@Sel35 bit,
@Sel36 bit,
@Sel37 bit,
@Sel38 bit,
@Sel39 bit,
@Sel40 bit,
@Sel41 bit,
@Sel42 bit,
@Sel43 bit,
@Sel44 bit,
@Sel45 bit,
@Sel46 bit,
@Sel47 bit,
@Sel48 bit,
@Sel49 bit,
@SizeDesc0 nvarchar(200),
@SizeDesc1 nvarchar(200),
@SizeDesc2 nvarchar(200),
@SizeDesc3 nvarchar(200),
@SizeDesc4 nvarchar(200),
@SizeDesc5 nvarchar(200),
@SizeDesc6 nvarchar(200),
@SizeDesc7 nvarchar(200),
@SizeDesc8 nvarchar(200),
@SizeDesc9 nvarchar(200),
@SizeDesc10 nvarchar(200),
@SizeDesc11 nvarchar(200),
@SizeDesc12 nvarchar(200),
@SizeDesc13 nvarchar(200),
@SizeDesc14 nvarchar(200),
@SizeDesc15 nvarchar(200),
@SizeDesc16 nvarchar(200),
@SizeDesc17 nvarchar(200),
@SizeDesc18 nvarchar(200),
@SizeDesc19 nvarchar(200),
@SizeDesc20 nvarchar(200),
@SizeDesc21 nvarchar(200),
@SizeDesc22 nvarchar(200),
@SizeDesc23 nvarchar(200),
@SizeDesc24 nvarchar(200),
@SizeDesc25 nvarchar(200),
@SizeDesc26 nvarchar(200),
@SizeDesc27 nvarchar(200),
@SizeDesc28 nvarchar(200),
@SizeDesc29 nvarchar(200),
@SizeDesc30 nvarchar(200),
@SizeDesc31 nvarchar(200),
@SizeDesc32 nvarchar(200),
@SizeDesc33 nvarchar(200),
@SizeDesc34 nvarchar(200),
@SizeDesc35 nvarchar(200),
@SizeDesc36 nvarchar(200),
@SizeDesc37 nvarchar(200),
@SizeDesc38 nvarchar(200),
@SizeDesc39 nvarchar(200),
@SizeDesc40 nvarchar(200),
@SizeDesc41 nvarchar(200),
@SizeDesc42 nvarchar(200),
@SizeDesc43 nvarchar(200),
@SizeDesc44 nvarchar(200),
@SizeDesc45 nvarchar(200),
@SizeDesc46 nvarchar(200),
@SizeDesc47 nvarchar(200),
@SizeDesc48 nvarchar(200),
@SizeDesc49 nvarchar(200),
@Active bit,
@CreatedBy nvarchar(100),
@CreatedDate datetime)

AS

declare @NoOfSize int


IF @SizeRangeID = @SizeRangeCode

	BEGIN

		UPDATE  dbo.pSizeRange
		SET     SizeRangeCode = @SizeRangeCode, Size0 = @Size0, Size1 = @Size1, Size2 = @Size2, Size3 = @Size3, Size4 = @Size4, Size5 = @Size5, 
				Size6 = @Size6, Size7 = @Size7, Size8 = @Size8, Size9 = @Size9, Size10 = @Size10, Size11 = @Size11, Size12 = @Size12, Size13 = @Size13, 
				Size14 = @Size14, Size15 = @Size15, Size16 = @Size16, Size17 = @Size17, Size18 = @Size18, Size19 = @Size19, 
				Size20 = @Size20, Size21 = @Size21, Size22 = @Size22, Size23 = @Size23, Size24 = @Size24, Size25 = @Size25, 
				Size26 = @Size26, Size27 = @Size27, Size28 = @Size28, Size29 = @Size29, Size30 = @Size30, Size31 = @Size31, Size32 = @Size32, Size33 = @Size33, 
				Size34 = @Size34, Size35 = @Size35, Size36 = @Size36, Size37 = @Size37, Size38 = @Size38, Size39 = @Size39, 
				Size40 = @Size40, Size41 = @Size41, Size42 = @Size42, Size43 = @Size43, Size44 = @Size44, Size45 = @Size45, 
				Size46 = @Size46, Size47 = @Size47, Size48 = @Size48, Size49 = @Size49, 
				Sel0 = @Sel0, Sel1 = @Sel1, Sel2 = @Sel2, Sel3 = @Sel3, Sel4 = @Sel4, Sel5 = @Sel5,
				Sel6 = @Sel6, Sel7 = @Sel7, Sel8 = @Sel8, Sel9 = @Sel9, Sel10 = @Sel10, 
				Sel11 = @Sel11, Sel12 = @Sel12, Sel13 = @Sel13, Sel14 = @Sel14, Sel15 = @Sel15, Sel16 = @Sel16, Sel17 = @Sel17, Sel18 = @Sel18, 
				Sel19 = @Sel19, Sel20 = @Sel20, Sel21 = @Sel21, Sel22 = @Sel22, Sel23 = @Sel23, Sel24 = @Sel24, Sel25 = @Sel25,				
				Sel26 = @Sel26, Sel27 = @Sel27, Sel28 = @Sel28, Sel29 = @Sel29, Sel30 = @Sel30, 
				Sel31 = @Sel31, Sel32 = @Sel32, Sel33 = @Sel33, Sel34 = @Sel34, Sel35 = @Sel35, Sel36 = @Sel36, Sel37 = @Sel37, Sel38 = @Sel38, 
				Sel39 = @Sel39, Sel40 = @Sel40, Sel41 = @Sel41, Sel42 = @Sel42, Sel43 = @Sel43, Sel44 = @Sel44, Sel45 = @Sel45,
				Sel46 = @Sel46, Sel47 = @Sel47, Sel48 = @Sel48, Sel49 = @Sel49,
				SizeDesc0 = @SizeDesc0, SizeDesc1 = @SizeDesc1, SizeDesc2 = @SizeDesc2, SizeDesc3 = @SizeDesc3, SizeDesc4 = @SizeDesc4, SizeDesc5 = @SizeDesc5, SizeDesc6 = @SizeDesc6, SizeDesc7 = @SizeDesc7, SizeDesc8 = @SizeDesc8, SizeDesc9 = @SizeDesc9,
				SizeDesc10 = @SizeDesc10, SizeDesc11 = @SizeDesc11, SizeDesc12 = @SizeDesc12, SizeDesc13 = @SizeDesc13, SizeDesc14 = @SizeDesc14, SizeDesc15 = @SizeDesc15, SizeDesc16 = @SizeDesc16, SizeDesc17 = @SizeDesc17, SizeDesc18 = @SizeDesc18, SizeDesc19 = @SizeDesc19,
				SizeDesc20 = @SizeDesc20, SizeDesc21 = @SizeDesc21, SizeDesc22 = @SizeDesc22, SizeDesc23 = @SizeDesc23, SizeDesc24 = @SizeDesc24, SizeDesc25 = @SizeDesc25, SizeDesc26 = @SizeDesc26, SizeDesc27 = @SizeDesc27, SizeDesc28 = @SizeDesc28, SizeDesc29 = @SizeDesc29,
				SizeDesc30 = @SizeDesc30, SizeDesc31 = @SizeDesc31, SizeDesc32 = @SizeDesc32, SizeDesc33 = @SizeDesc33, SizeDesc34 = @SizeDesc34, SizeDesc35 = @SizeDesc35, SizeDesc36 = @SizeDesc36, SizeDesc37 = @SizeDesc37, SizeDesc38 = @SizeDesc38, SizeDesc39 = @SizeDesc39,
				SizeDesc40 = @SizeDesc40, SizeDesc41 = @SizeDesc41, SizeDesc42 = @SizeDesc42, SizeDesc43 = @SizeDesc43, SizeDesc44 = @SizeDesc44, SizeDesc45 = @SizeDesc45, SizeDesc46 = @SizeDesc46, SizeDesc47 = @SizeDesc47, SizeDesc48 = @SizeDesc48, SizeDesc49 = @SizeDesc49, 
				Active = @Active, MUser = @CreatedBy, MDate = @CreatedDate
		WHERE  (SizeRangeCode = @SizeRangeID)

		SELECT @NoOfSize As NoOfSize

	END


ELSE

	BEGIN
		SELECT  @NoOfSize = COUNT(*)  FROM  pSizeRange WITH (NOLOCK)
		WHERE   SizeRangeCode = @SizeRangeCode
	END


IF @NoOfSize = 0 

	BEGIN
	
		UPDATE  dbo.pSizeRange
		SET     SizeRangeCode = @SizeRangeCode, Size0 = @Size0, Size1 = @Size1, Size2 = @Size2, Size3 = @Size3, Size4 = @Size4, Size5 = @Size5, 
				Size6 = @Size6, Size7 = @Size7, Size8 = @Size8, Size9 = @Size9, Size10 = @Size10, Size11 = @Size11, Size12 = @Size12, Size13 = @Size13, 
				Size14 = @Size14, Size15 = @Size15, Size16 = @Size16, Size17 = @Size17, Size18 = @Size18, Size19 = @Size19, 
				Size20 = @Size20, Size21 = @Size21, Size22 = @Size22, Size23 = @Size23, Size24 = @Size24, Size25 = @Size25, 
				Size26 = @Size26, Size27 = @Size27, Size28 = @Size28, Size29 = @Size29, Size30 = @Size30, Size31 = @Size31, Size32 = @Size32, Size33 = @Size33, 
				Size34 = @Size34, Size35 = @Size35, Size36 = @Size36, Size37 = @Size37, Size38 = @Size38, Size39 = @Size39, 
				Size40 = @Size40, Size41 = @Size41, Size42 = @Size42, Size43 = @Size43, Size44 = @Size44, Size45 = @Size45, 
				Size46 = @Size46, Size47 = @Size47, Size48 = @Size48, Size49 = @Size49,
				Sel0 = @Sel0, Sel1 = @Sel1, 
				Sel2 = @Sel2, Sel3 = @Sel3, Sel4 = @Sel4, Sel5 = @Sel5, Sel6 = @Sel6, Sel7 = @Sel7, Sel8 = @Sel8, Sel9 = @Sel9, Sel10 = @Sel10, 
				Sel11 = @Sel11, Sel12 = @Sel12, Sel13 = @Sel13, Sel14 = @Sel14, Sel15 = @Sel15, Sel16 = @Sel16, Sel17 = @Sel17, Sel18 = @Sel18, 
				Sel19 = @Sel19, Sel20 = @Sel20, Sel21 = @Sel21, Sel22 = @Sel22, Sel23 = @Sel23, Sel24 = @Sel24, Sel25 = @Sel25,				
				Sel26 = @Sel26, Sel27 = @Sel27, Sel28 = @Sel28, Sel29 = @Sel29, Sel30 = @Sel30, 
				Sel31 = @Sel31, Sel32 = @Sel32, Sel33 = @Sel33, Sel34 = @Sel34, Sel35 = @Sel35, Sel36 = @Sel36, Sel37 = @Sel37, Sel38 = @Sel38, 
				Sel39 = @Sel39, Sel40 = @Sel40, Sel41 = @Sel41, Sel42 = @Sel42, Sel43 = @Sel43, Sel44 = @Sel44, Sel45 = @Sel45,
				Sel46 = @Sel46, Sel47 = @Sel47, Sel48 = @Sel48, Sel49 = @Sel49, 
				SizeDesc0 = @SizeDesc0, SizeDesc1 = @SizeDesc1, SizeDesc2 = @SizeDesc2, SizeDesc3 = @SizeDesc3, SizeDesc4 = @SizeDesc4, SizeDesc5 = @SizeDesc5, SizeDesc6 = @SizeDesc6, SizeDesc7 = @SizeDesc7, SizeDesc8 = @SizeDesc8, SizeDesc9 = @SizeDesc9,
				SizeDesc10 = @SizeDesc10, SizeDesc11 = @SizeDesc11, SizeDesc12 = @SizeDesc12, SizeDesc13 = @SizeDesc13, SizeDesc14 = @SizeDesc14, SizeDesc15 = @SizeDesc15, SizeDesc16 = @SizeDesc16, SizeDesc17 = @SizeDesc17, SizeDesc18 = @SizeDesc18, SizeDesc19 = @SizeDesc19,
				SizeDesc20 = @SizeDesc20, SizeDesc21 = @SizeDesc21, SizeDesc22 = @SizeDesc22, SizeDesc23 = @SizeDesc23, SizeDesc24 = @SizeDesc24, SizeDesc25 = @SizeDesc25, SizeDesc26 = @SizeDesc26, SizeDesc27 = @SizeDesc27, SizeDesc28 = @SizeDesc28, SizeDesc29 = @SizeDesc29,
				SizeDesc30 = @SizeDesc30, SizeDesc31 = @SizeDesc31, SizeDesc32 = @SizeDesc32, SizeDesc33 = @SizeDesc33, SizeDesc34 = @SizeDesc34, SizeDesc35 = @SizeDesc35, SizeDesc36 = @SizeDesc36, SizeDesc37 = @SizeDesc37, SizeDesc38 = @SizeDesc38, SizeDesc39 = @SizeDesc39,
				SizeDesc40 = @SizeDesc40, SizeDesc41 = @SizeDesc41, SizeDesc42 = @SizeDesc42, SizeDesc43 = @SizeDesc43, SizeDesc44 = @SizeDesc44, SizeDesc45 = @SizeDesc45, SizeDesc46 = @SizeDesc46, SizeDesc47 = @SizeDesc47, SizeDesc48 = @SizeDesc48, SizeDesc49 = @SizeDesc49, 
				Active = @Active, MUser = @CreatedBy, MDate = @CreatedDate
		WHERE  (SizeRangeCode = @SizeRangeID)
	
		SELECT @NoOfSize As NoOfSize
	END

ELSE

	BEGIN
		SELECT @NoOfSize As NoOfSize
	END

GO


INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES     ('DB_Version', '5.0.0000', '04351', GetDate())
GO
