IF NOT EXISTS (SELECT * FROM pStyleWorkflowToChangeTable WHERE WorkflowID = '40000000-0000-0000-0000-000000000007')
BEGIN
	INSERT pStyleWorkflowToChangeTable (WorkflowID, ChangeTableID) VALUES (N'40000000-0000-0000-0000-000000000007', N'D612FAAE-7ACD-DF11-AF06-005056C00026')
END
GO

INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES ('DB_Version', '0.5.0000', '06059', GetDate())
GO
