IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spx_StyleLinkedWorkflow_SELECT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spx_StyleLinkedWorkflow_SELECT]
GO

/****** Object:  StoredProcedure [dbo].[spx_StyleLinkedWorkflow_SELECT]    Script Date: 09/23/2013 13:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[spx_StyleLinkedWorkflow_SELECT]
(
	@WorkflowID uniqueidentifier,
	@StyleID uniqueidentifier,
	@StyleSet int,
	@ConfigFile NVARCHAR(256) = 'server.config'
)
AS
BEGIN

	DECLARE @LinkedCount INT
	SELECT @LinkedCount = COUNT (*) FROM pWorkFlowItemLinked wfil INNER JOIN dbo.pStyleWorkflow a ON wfil.WorkFlowItemID = a.StyleWorkflowID WHERE wfil.StyleID = @StyleID AND wfil.StyleSet = @StyleSet AND a.WorkflowID = @WorkflowID

	IF @LinkedCount > 0 
	BEGIN
		SELECT b.Map, b.MapDetail, 
				dbo.fnx_GetMappingFullRelativePath(app.AppSettingValue, b.MapUrl, b.MapFolder) AS MapUrl, b.MapPageUrl,
				c.WorkflowStatus, c.WorkflowStatusImage,
				a.StyleWorkflowID, a.StyleID, a.StyleSet, a.WorkflowID,  a.WorkflowType,  a.WorkflowOrder,  a.WorkDate, a.WorkStart,
				a.WorkDue, a.WorkAssignedTo, a.WorkComplete, a.WorkStatus, a.WorkStatusDate, a.WorkStatusBy, a.WorkVersion, a.WorkComments,
				a.CUser, a.CDate, a.MUser, a.MDate, a.WorkDay,
				d.StyleNo, a.WorkflowAccessTypeID, d.DevelopmentID, d.StyleType,
				CAST(a.WorkSort as int) WorkSort, ISNULL(d.StyleNo,'') + ISNULL(' (' + d.Description + ')','') AS SourceStyle, 1 AS IsLinked
			FROM
				pWorkFlowItemLinked wfil
				INNER JOIN dbo.pStyleWorkflow a ON wfil.WorkFlowItemID = a.StyleWorkflowID
				INNER JOIN dbo.Mapping b ON a.WorkflowID = b.Map 
				INNER JOIN dbo.pWorkflowStatus c ON a.WorkStatus = c.WorkflowStatusID 
				INNER JOIN dbo.pStyleHeader d ON a.StyleID = d.StyleID
				INNER JOIN dbo.sAppSetting app ON LOWER(app.ConfigFileName) = @ConfigFile AND LOWER(app.AppSettingKey) = 'HttpServer'
			WHERE
				wfil.StyleID = @StyleID
				AND wfil.StyleSet = @StyleSet		
				AND a.WorkflowID = @WorkflowID
			ORDER BY WorkSort, a.WorkflowID
		END
		ELSE
		BEGIN
			SELECT b.Map, b.MapDetail, 
				dbo.fnx_GetMappingFullRelativePath(app.AppSettingValue, b.MapUrl, b.MapFolder) AS MapUrl, b.MapPageUrl,
				c.WorkflowStatus, c.WorkflowStatusImage,
				a.StyleWorkflowID, a.StyleID, a.StyleSet, a.WorkflowID,  a.WorkflowType,  a.WorkflowOrder,  a.WorkDate, a.WorkStart,
				a.WorkDue, a.WorkAssignedTo, a.WorkComplete, a.WorkStatus, a.WorkStatusDate, a.WorkStatusBy, a.WorkVersion, a.WorkComments,
				a.CUser, a.CDate, a.MUser, a.MDate, a.WorkDay,
				d.StyleNo, a.WorkflowAccessTypeID, d.DevelopmentID, d.StyleType,
				CAST(a.WorkSort as int) WorkSort, ISNULL(d.StyleNo,'') + ISNULL(' (' + d.Description + ')','') AS SourceStyle, 0 AS IsLinked
			FROM
				dbo.pStyleWorkflow a
				INNER JOIN dbo.Mapping b ON a.WorkflowID = b.Map 
				INNER JOIN dbo.pWorkflowStatus c ON a.WorkStatus = c.WorkflowStatusID 
				INNER JOIN dbo.pStyleHeader d ON a.StyleID = d.StyleID
				INNER JOIN dbo.sAppSetting app ON LOWER(app.ConfigFileName) = @ConfigFile AND LOWER(app.AppSettingKey) = 'HttpServer'
			WHERE
				a.StyleID = @StyleID
				AND a.StyleSet = @StyleSet		
				AND a.WorkflowID = @WorkflowID
			ORDER BY WorkSort, a.WorkflowID		
		END
END
	

GO

INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES ('DB_Version', '0.5.0000', '06349', GetDate())
GO

