IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spx_Style_Schedule_Calendar_SELECT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[spx_Style_Schedule_Calendar_SELECT]
GO

/****** Object:  StoredProcedure [dbo].[spx_Style_Schedule_Calendar_SELECT]    Script Date: 09/23/2013 13:27:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spx_Style_Schedule_Calendar_SELECT]
(
	@StyleID uniqueidentifier,
	@ConfigFile NVARCHAR(256) = 'server.config'
)
AS

	SELECT b.Map, b.MapDetail, 
		dbo.fnx_GetMappingFullRelativePath(app.AppSettingValue, b.MapUrl, b.MapFolder) AS MapUrl,
		c.WorkflowStatus, c.WorkflowStatusImage,
		a.StyleWorkflowID, a.StyleID, a.StyleSet, a.WorkflowID,  a.WorkflowType,  a.WorkflowOrder,  a.WorkDate, a.WorkStart,
		a.WorkDue, a.WorkAssignedTo, a.WorkComplete, a.WorkStatus, a.WorkStatusDate, a.WorkStatusBy, a.WorkVersion, a.WorkComments,
		a.CUser, a.CDate, a.MUser, a.MDate, a.WorkDay,
		d.StyleNo, a.WorkflowAccessTypeID, 
		CAST(a.WorkSort as int) WorkSort
	FROM dbo.pStyleWorkflow a WITH (NOLOCK) 
		INNER JOIN dbo.Mapping b WITH (NOLOCK) ON a.WorkflowID = b.Map 
		INNER JOIN dbo.pWorkflowStatus  c WITH (NOLOCK) ON a.WorkStatus = c.WorkflowStatusID 
		INNER JOIN dbo.pStyleHeader d WITH (NOLOCK) ON a.StyleID = d.StyleID
		INNER JOIN dbo.sAppSetting app WITH (NOLOCK) ON LOWER(app.ConfigFileName) = @ConfigFile AND LOWER(app.AppSettingKey) = 'HttpServer'
	WHERE a.StyleID = @StyleID
	ORDER BY WorkSort



GO

INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES ('DB_Version', '0.5.0000', '06343', GetDate())
GO