
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
IF NOT EXISTS(SELECT * FROM sys.columns 
        WHERE [name] = N'TACalReferenceId' AND [object_id] = OBJECT_ID(N'pStyleSeasonYear'))
BEGIN

ALTER TABLE dbo.pStyleSeasonYear ADD
	TACalReferenceId uniqueidentifier NULL
	END
	
GO

COMMIT

GO

INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES ('DB_Version', '0.5.0000', '07786', GetDate())
GO