IF NOT EXISTS(SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE COLUMN_NAME='DeskTopID' AND TABLE_NAME='Users')
	ALTER TABLE Users ADD DeskTopID int NULL
GO

INSERT INTO sVersion(AppName, Version, LastScriptRun, TimeStamp)
VALUES ('DB_Version', '6.1.0000', '09297', GetDate())
GO
