<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YuniquePLMConfigurator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <YuniquePLMConfigurator.My.MySettings>
      <setting name="InstallLocation" serializeAs="String">
        <value/>
      </setting>
      <setting name="RSReportingServicesLocation" serializeAs="String">
        <value/>
      </setting>
    </YuniquePLMConfigurator.My.MySettings>
  </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    <supportedRuntime version="v2.0.50727"></supportedRuntime>
  </startup>

  <appSettings>
    <add key="AppSettingGroupID" value="00000000-0000-0000-0000-000000000000"/>
    <add key="SERVER" value="server.config"/>
    <add key="MAIL" value="mail.config"/>
    <add key="IMAGE" value="image.config"/>
    <add key="COLOR" value="color.config"/>
    <add key="BODY" value="body.config"/>
    <add key="STORAGE" value="storage.config"/>
    <add key="LICENSE" value="license.config"/>
    <add key="MATERIAL" value="material.config"/>
    <add key="FLASHEDIT" value="flashedit.config"/>
    <add key="STYLE" value="style.config"/>
    <add key="LINELIST" value="linelist.config"/>
    <add key="REPORT" value="report.config"/>
    <add key="TRADEPARTNER" value="tradepartner.config"/>
    <add key="COMPLIANCE" value="compliance.config"/>
    <add key="SYSTEM" value="system.config"/>
    <add key="LINEPLAN" value="lineplan.config"/>
  </appSettings>

  <connectionStrings>
    <add name="SQLCACHECONNECTION" connectionString="$plmOnDBConnectionString$" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="6000">
        <databases>
          <add name="plmOnDB" connectionStringName="SQLCACHECONNECTION"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
</configuration>
