<configuration>
	<configSections>
		<section name="COLOR" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<add key="AllowTask" value="FALSE" />
		<add key="Color" value="Color" />
		<add key="ColorNo" value="Color Code" />
		<add key="Colorway" value="Colorway" />
		<add key="ColorName" value="Color Name" />
		<add key="ColorSource" value="NRF Color" />
		<add key="ColorNotes" value="Color Notes" />		
		<add key="RemoveColorPending" value="FALSE" />
		<add key="EnableColorCalendar" value="TRUE" />
	</appSettings>
</configuration>

