<configuration>
	<configSections>
		<section name="LINEPLAN" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

  <appSettings>
    
    <!--01--><add key="Lineplan" value="Line Planning" />
    <!--02--><add key="AddStyleColorwayChips" value="FALSE" />
    <!--03--><add key="LinePlanNoOfChannel" value="1" />
    <!--04--><add key="AllowAddColorFromLinePlanToNewStyle" value="FALSE" />
    <!--05--><add key="ColorCollection" value="TRUE" />
    
    <!--06--><add key="ColorCollectionTable" value="xCustom64" />
    <!--07--><add key="ColorCollectionCustomField" value="CustomField1" />
    <!--08--><add key="AllowModifyCarryOverHeader" value="FALSE" />
    <!--09--><add key="AllowTradePartnerAllocation" value="FALSE" />
    <!--10--><add key="HighlightCarryOverColors" value="TRUE" />
    
    <!--11--><add key="AllowLinePlanAttributes" value="TRUE" />
    <!--12--><add key="AllowShowroom" value="TRUE" />
	<!--13--><add key="AllowModifyNewVersionHeader" value="FALSE" />
    <!--14--><add key="LinePlanningNVBodyRequiered" value="FALSE" />

    <!--15--><add key="LinPlanningNMaterialRequiered" value="TRUE" />
    <!--16--><add key="LinePlanningNBodyRequiered" value="TRUE" />
    <!--17--><add key="AllowStyleHeaderChanges" value="TRUE" />
    <!--18--><add key="AllowColorAllocation" value="TRUE" />
    <!--19--><add key="AllowMaterialAllocation" value="TRUE" />
	<!--20--><add key="AllowMultiCloth" value="FALSE" />
	
	<!-- New Planning Folder -->
	<!--21--><add key="Live_Compare_Visible" value="TRUE" />
	<!--22--><add key="Live_Compare_Default_Expanded" value="TRUE" />
	<!--23--><add key="Costing_Live_Compare_Visible" value="TRUE" />
	<!--24--><add key="Costing_Live_Compare_Default_Expanded" value="TRUE" />
	</appSettings>
</configuration>

