<configuration>
	<configSections>
		<section name="MATERIAL" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
	
		<!--02-->	<add key="AutoNumberGenerator" value="TRUE" />
		<!--03-->	<add key="AutoNumberAlert" value="TRUE" />
		<!--04-->	<add key="AllowDuplicateMaterialNo" value="TRUE" />
		<!--05-->	<add key="AllowTask" value="FALSE" />
		<!--06-->	<add key="AllowMaterialTradePartner" value="TRUE" />
		<!--07-->	<add key="AllowMaterialTradePartnerLabDip" value="TRUE" />
		<!--08-->	<add key="AllowMaterialTradePartnerTesting" value="TRUE" />
		<!--09-->	<add key="MaterialTradePartner" value="Supplier - Mill" />
		<!--10-->	<add key="MaterialTradePartnerDuplicateAlert" value="Supplier and Mill number should be unique" />
		<!--11-->	<add key="Artwork" value="Artwork" />				
		<!--12-->	<add key="AllowMultiDimension" value="TRUE" />				
		<!--13-->	<add key="Colorway" value="Multi-Level Colourway " />				
		<!--14-->	<add key="AllowMaterialColorwayEdit" value="FALSE" />	
		<!--15-->	<add key="MultiDimensionLabel" value="" />	
		<!--16-->	<add key="Development" value="Multi-Level Material " />	
		<!--17-->	<add key="MaterialSize" value="Treatment/Size/Gauge" />
		<!--18-->	<add key="ShowMaterialCommentIcon" value="TRUE" />
    	<!--19-->	<add key="EnablePackagingLabel" value="TRUE" />
    	<!--20-->	<add key="PackagingLabel" value="Packaging And Label" />
		<!--20a-->	<add key="EnableLabDip" value="TRUE" />
    	<!--21-->	<add key="GenerateMaterialCode" value="TRUE" />
	    <!--22-->	<add key="MaterialCodeLength" value="5" />
    	<!--23-->	<add key="MaterialCodeLogic" value="CHAR" />  <!--ALPHA / CHAR-->				
		<!--24-->	<add key="MaterialContentColumn" value="G" />
		<!--25-->	<add key="AllowChangeMaterialUOM" value="TRUE" />
		<!--26-->	<add key="AllowChangeMaterialPrice" value="TRUE" />
		<!--27-->	<add key="MaterialTradePartnerExpandHeader" value="TRUE" />
        <!--28-->   <add key="DefaultSeasonYear" value="TRUE" />
        <!--29-->   <add key="ShowCustomerWhereGrid" value="TRUE" />
		<!--30-->   <add key="DefaultThumbnailChecked" value="FALSE" />
		
		<!--31-->	<add key="EnableMaterialPages" value="TRUE" />
		<!--32-->	<add key="EnableMaterialCalendar" value="TRUE" />
		<!--33-->	<add key="EnableMaterialRequestPages" value="TRUE" />
		<!--34-->	<add key="EnableMaterialRequestCalendars" value="TRUE" />
  </appSettings>
</configuration>
