<configuration>
  <configSections>
    <section name="SERVER" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="HostIP" value="$plmOnHTTPServerIP$"/>
    <add key="SiteID" value="$plmOnWSSiteId$"/>
    <add key="DatabaseServer" value="$plmOnDBConnectionString$" />

    <add key="CADDatabaseServer" value="$plmOnCADDatabaseServer$" />
    <add key="CADDatabaseRemoteServerName" value="$plmOnCADDatabaseRemoteServerName$" />
    <add key="CADDatabaseCatalog" value="$plmOnCADDatabaseCatalog$" />
    <add key="CADRemoteUsername" value="$plmOnCADRemoteUsername$" />
    <add key="CADRemotePassword" value="$plmOnCADRemotePassword$" />
    <add key="CADLocalUserName" value="$plmOnCADLocalUserName$" />

    <add key="HttpServer" value="http://$plmOnHTTPServer$/$plmOnVDplmOn$" />
    <add key="HttpsServer" value="http://$plmOnHTTPServer$/$plmOnVDplmOn$" />

    <add key="WebAPIServer" value="http://$plmOnHTTPServer$/$YuniqueAPI$" />
    <add key="YuniqueAPIRESTServer" value="http://$plmOnHTTPServer$/$plmOnVDYuniqueAPIREST$" />
    <add key="YuniqueAPISOAPServer" value="http://$plmOnHTTPServer$/$plmOnVDYuniqueAPISOAP$" />
	<add key="YuniqueToolkitAPIServer" value="http://$plmOnHTTPServer$/$plmOnVDYuniqueToolkitAPIREST$" />
	
    <add key="CodrawMarkupServer" value="http://$plmOnHTTPServer$/$plmOnVDplmOnCodrawMarkup$" />

    <add key="ImageServer" value="http://$plmOnHTTPServer$/$plmOnVDImageServer$" />
    <add key="TIMServer" value="http://$plmOnHTTPServer$/timOn" />
    <add key="SQLServerReport" value="http://$plmOnHTTPServer$/$plmOnVDplmOnReport$" />
    <add key="BIServer" value="http://$plmOnHTTPServer$/$plmOnVDYuniqueBI$" />
    <add key="SRMServer" value="http://$plmOnHTTPServer$/$plmOnVDsrmOn$" />
    <add key="SRMDownloadServer" value="http://$plmOnHTTPServer$/$plmOnVDsrmOnDownload$/$plmOnVDsrmOnDownloadFolder$/" />
    <add key="SRMDatabaseServer" value="$plmOnDBConnectionString$" />
    <add key="CitrixServer" value="FALSE" />
    <add key="YuniqueToolkitServer" value="http://$plmOnHTTPServer$/$plmOnVDYuniqueToolkit$" />

    <!-- Select one or the other for "YuniqueToolkitSchemaQuickView" -->
    <!-- value="/SchemaEditor/Control_SchemaEditor_Edit.aspx" -->
    <!-- value="/ClientSetup/YuniquePLM.Toolkit.Portable.application" -->
    <add key="YuniqueToolkitSchemaQuickView" value="/ClientSetup/YuniquePLM.Toolkit.Portable.application" />

    <add key="YuniqueAppManagerServer" value="http://$plmOnHTTPServer$/$plmOnVDYuniqueAppManager$" />
    <add key="RevealXMLFiles" value="TRUE" />
	
    <add key="PeerHostServer" value="127.0.0.1" />
    <add key="PeerHostPort" value="8008" />    
    <add key="IntellimasClientUrl" value="http://IntellimasDomain.com/IntellimasServer/clickoncedeploy/client.application?token=$token$&amp;module=RequestTracker" />
    <add key="IntellimasAdminUrl" value="http://IntellimasDomain.com/IntellimasServer/clickoncedeploy/client.application?token=$token$&amp;module=RTAdminScreen" />
    <add key="IntellimasLicenseUrl" value="http://IntellimasDomain.com/IntellimasServer/clickoncedeploy/client.application?token=$token$&amp;module=ApplyLicense" />
  </appSettings>
</configuration>
