<configuration>
    <configSections>
        <section name="STYLE" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <appSettings>

        <!--General-->
        <!--1--><add key="AllowIssue" value="FALSE" />
        <!--2--><add key="AllowTask" value="FALSE" />
        <!--3--><add key="AutoNumberAlert" value="TRUE" />
        <!--4--><add key="AutoNumberGenerator" value="TRUE" />
        <!--6--><add key="Artwork" value="RM Images" />
        <!--7--><add key="AutoNumberAutomatic" value="FALSE" />

        <!--POM-->
        <!--1--><add key="AllowPOMSort" value="TRUE" />
        <!--2--><add key="POMCodeAdHocDefault" value="X" />
        <!--3--><add key="POMCodeCharLimit" value="10" />
        <!--4--><add key="SortPOMsInAllSizeClasses" value="TRUE" />
        <!--5--><add key="DisplaySizeDescription" value="FALSE" />

        <!--Style-->
        <!--1--><add key="AllowDuplicateStyleNo" value="FALSE" />
        <!--2--><add key="AllowEditGradeRuleOnDevSpec" value="FALSE" />
        <!--3--><add key="AllowStyleCalendar" value="TRUE" />
        <!--4--><add key="AllowStyleCarryOver" value="FALSE" />
        <!--5--><add key="AllowStyleColorwayAdd" value="TRUE" />

        <!--6--><add key="AllowStyleColorwayEdit" value="FALSE" />
        <!--7--><add key="AllowStyleCopyComments" value="TRUE" />
        <!--10--><add key="AllowStyleDelete" value="TRUE" />

        <!--11--><add key="AllowStyleDevelopmentNo" value="FALSE" />
        <!--12--><add key="AllowStyleMedia" value="FALSE" />
        <!--13--><add key="AllowStyleQuoteVendorChange" value="FALSE" />
        <!--14--><add key="AllowStyleSourcing" value="FALSE" />
        <!--15--><add key="AllowStyleSpecConversion" value="TRUE" />

        <!--16--><add key="AllowStyleUPC" value="FALSE" />
        <!--17--><add key="ChangeWorkflowAssignedTo" value="TRUE" />
        <!--18--><add key="CopyAdHocRuleValues" value="TRUE" />
        <!--20--><add key="CustomFieldSeason" value="CustomField2" />

        <!--21--><add key="CustomFieldYear" value="CustomField4" />
        <!--22--><add key="DefaultStyleQuoteGroupGridSort" value="" />
        <!--23--><add key="DefaultStyleTypeId" value="" />
        <!--24--><add key="PC1" value="1st Set" />
        <!--25--><add key="PC2" value="2nd Set" />

        <!--26--><add key="PC3" value="3rd Set" />
        <!--27--><add key="PC4" value="4th Set" />
        <!--28--><add key="ShowMaterialCommentIcon" value="TRUE" />
        <!--29--><add key="Style" value="Style" />
        
        <!--38--><add key="StyleDetail1" value="Style Detail" />
        <!--39--><add key="StyleDetail2" value="Buyer Notes" />
        <!--40--><add key="StyleDetail3" value="Commercial Invoice" />

        <!--41--><add key="StyleFeature" value="Style Attribute" />
        <!--42--><add key="StyleVariation" value="Variation" />
        <!--43--><add key="StyleSourcingQty" value="Rating-A" />
        <!--44--><add key="DesignDetailGridVisible" value="TRUE" />
        <!--45--><add key="AllowSizeClassColorways" value="TRUE" />

        <!--46--><add key="FilterStyleSourcing" value="FALSE" />
        <!--47--><add key="PackLabelGridColor" value="0px solid #3DCC3D" />
        <!--48--><add key="AllowStyleColorwayPalette" value="TRUE" />
        <!--49--><add key="ShowStyleColorwayColorNotes" value="TRUE" />
        <!--50--><add key="AllowReconvertDevSpec" value="TRUE" />

        <!--51--><add key="AllowStyleColorwaySAPCode" value="TRUE" />
        <!--52--><add key="StyleSourcing" value="Sourcing" />
        <!--53--><add key="HideChangeManagementOnComments" value="TRUE" />
        <!--54--><add key="AllowStyleColorwayPLMCode" value="TRUE" />
        <!--55--><add key="ShowSourcingRollUps" value="TRUE" />

        <!--56--><add key="BOMSourcingReadOnly" value="FALSE" />
        <!--57--><add key="ShowMaterialRollUps" value="TRUE" />
        <!--58--><add key="AllowSeasonality" value="TRUE" />
        <!--59--><add key="AllowIntraSeason" value="FALSE" />
        <!--60--><add key="AllowStyleMaterialSeasonYear" value="FALSE" />
        <!--REVIEW-->

        <!--61--><add key="SAPCodeLabel" value="SAP Code" />
        <!--62--><add key="PLMCodeLabel" value="PLM Code" />
        <!--64--><add key="AllowStyleHeaderLocking" value="FALSE" />
        <!--65--><add key="AllowAutoColor" value="TRUE" />

        <!--66--><add key="StyleColorwayHeaderHeight" value="40" />
        <!--67--><add key="AllowStyleMaterialReplace" value="TRUE" />
        <!--68--><add key="ShowSourcingColorPanel" value="TRUE" />
        <!--69--><add key="ShowSeasonYearHeader" value="FALSE" />
        <!--70--><add key="AllowStyleColorwayNoApplicable" value="FALSE" />

        <!--71--><add key="NewStyleAlert" value="TRUE" />
        <!--72--><add key="StyleColorwayWarning" value="" />
        <!--75--><add key="DesignTabPosition" value="0" />
        <!--76--><add key="StyleMenuImageSize" value="300"/>
        <!--77--><add key="CreateWizardStyleImageSize" value="300"/>
        <!--78--><add key="ShowAllPOMTemplate" value="TRUE"/>
        <!--79--><add key="CustomFieldItemCategory" value="CustomField6" />
        <!--80--><add key="StyleMaterialGroupByCol" value="GroupName"/>
        <!--81--><add key="ShowDesignImage" value="TRUE"/>
        <!--82--><add key="OwnerPermissionGovernor" value="" />
        <!--83--><add key="AllowUpdateGradSpec" value="FALSE"/>
        <!--84--><add key="StyleDimBomQEDisplayText" value="MaterialNo"/>
        <!--85--><add key="StyleMaterialsReadFromLib" value="FALSE"/>
        <!--86--><add key="ShowOldStyleCosting" value="FALSE" />
        <!--87--><add key="AllowMultipleUploadFiles" value="TRUE" />
		<!--89--><add key="BeginSourcingSeason" value="3" />
		<!--90--><add key="StyleCopyPageSelection" value="TRUE" />
		<!--91--><add key="BOMColorwayActiveColorDefault" value="TRUE" />
		<!--92--><add key="Silhouette_Only" value="FALSE" /><!--Allow linking with silhouettes only-->
		<!--93--><add key="TurnOffExcelCalcInCosting" value="FALSE" /><!--Use calculation in stored procedure-->
		<!--94--><add key="AllowWorkflowTemplateFiltering" value="TRUE" /><!--Use workflow templates filtering-->
		<!--95--><add key="EnableStylePages" value="TRUE" />
        <!--96--><add key="EnableExcelImportBtn" value="FALSE" />
		<!--97--><add key="AutoPageApproved" value="ONE" />
		<!--98--><add key="EnableCalendarPages" value="TRUE" />
		<!--99--><add key="BOMAllowInputMaterialPrice" value="FALSE" />
		<!--100--><add key="ShowStyleNumber" value="TRUE" />
      
        <!--Tech Pack-->
        <!--1--><add key="AllowCustomTechPack" value="TRUE" />
        <!--3--><add key="TechPackReleaseLabel" value="Final Tech Pack:" />
        <!--4--><add key="AddCDateToTechPackDescription" value="TRUE" />
        <!--5--><add key="StyleSourcingTechPack" value="Soucing TechPack" />
        <!--6--><add key="StyleTechPackCustomSelect" value="TRUE" />
        <!--7--><add key="AllowTechPackBatchQueue" value="TRUE" />
		<!--8--><add key="StartTrackChangeOnTechPackCreation" value="FALSE" />

        <!--Sample-->
        <!--1--><add key="AllowSampleRequestAutoFillRevisedData" value="FALSE" />
        <!--2--><add key="AllowSampleRequestSampleSizeChange" value="TRUE" />
        <!--3--><add key="AutoRefreshGradeRuleOnProgramFolder" value="TRUE" />
        <!--4--><add key="Sample" value="Sample" />
        <!--5--><add key="SampleLockVendorFields" value="FALSE" />

        <!--6--><add key="ShowStyleSourcing" value="FALSE" />
        <!--7--><add key="AllowModifySampleFinalDate" value="FALSE" />
        <!--9--><add key="SkipSampleRequestWizardResume" value="FALSE" />
        <!--10--><add key="SampleRequestWizardShareSample" value="TRUE" />
        <!--11--><add key="AllowSampleRequestPostRevisedData" value="FALSE" />
        <!--12--><add key="AllowSampleRequestCommentTemplate" value="FALSE" />
		<!--13--><add key="AutoCreateProto" value="TRUE" />
		<!--14--><add key="AutoCreateFit" value="TRUE" />
		<!--15--><add key="SampleSaveHeaderPrevent" value="FALSE" />
		<!--16--><add key="EnableSampleRequestPages" value="TRUE" />
		<!--17--><add key="EnableSampleRequestCalendars" value="TRUE" />
        <!--18--><add key="EnableSampleEventLog" value="FALSE" />

        <!--SRMON-->
        <add key="srmOnGridSize" value="5" />
        <add key="AutoSampleRequestColorwaySelected" value="TRUE" />
        <add key="StyleColorwayShowStatus" value="FALSE"/>
        <add key="StyleColorwayStatusField" value="SAPCode"/>
        <add key="ShowTextImagePageStatus" value="TRUE"/>
		<add key="ShowSampleTimelineTab" value="FALSE"/>

    </appSettings>
</configuration>
