<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Something changed</title>
	</head>
	<body>
		<TABLE cellSpacing="0" cellPadding="0" width="600" border="0">
			<TR>
				<TD><IMG src="./images/logo_yunique.jpg"></TD>
			</TR>
			<TR>
				<TD>
					<br>
					<FONT face="Arial" size="2">
						There are some changes in ##MESSAGE-HEADER##<br />
						##MESSAGE##
						<br>
						<BR>
						Please follow next url to see the changes:
						<a href='##URL##' target="_blank" ><font color="blue">##URL##</font></a>
						<br>
						<br>
						Very best regards,
						<br>
						<br>
						Support Team
						<br>
						<br>
					</FONT>
				</TD>
			</TR>
			<TR>
				<TD>
					<P align="right"><IMG src="./images/plmOn.gif" ></P>
				</TD>
			</TR>
		</TABLE>
	</body>
</html>
