<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Password Reminder</title>
	</head>
	<body>
		<TABLE cellSpacing="0" cellPadding="0" width="600" border="0">
			<TR>
				<TD><IMG src="./images/logo.jpg"></TD>
			</TR>
			<TR>
				<TD>
					<br>
					<FONT face="Arial" size="2">Dear user:
						<br>
						<br>
						According to our records, the password associated with the e-mail address you 
						provided is as follows:
						<br>
						<br>
						User Name : <STRONG>##USERNAME##</STRONG>
						<br>
						Password : <STRONG>##PASSWORD##</STRONG>
						<BR>
						<BR>
						Remember that your password is confidential and should never be shared with 
						others.
						<br>
						<br>
						Very best regards,
						<br>
						<br>
						Support Team
						<br>
						<br>
					</FONT>
				</TD>
			</TR>
			<TR>
				<TD>
					<P align="right"><IMG src="./images/plmOn.gif"></P>
				</TD>
			</TR>
		</TABLE>
	</body>
</html>
